{% extends "base.html" %}
{% load static %}

{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<main class="content" style="padding:10px 0 !important">


    <style>
        .megamenu_container {
            width: 1170px;
            height: 44px;
            margin: 0 auto;
            position: relative;
            z-index: 2
        }

        .megamenu>li {
            display: inline;
            border: none;
            margin: 0;
            background-color: transparent;
            padding: 14px 0 15px 15px;
            -webkit-transition: background-color .4s ease-out;
            -moz-transition: background-color .4s ease-out;
            -o-transition: background-color .4s ease-out;
            -ms-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out
        }

        .megamenu>li:hover {
            background-color: #0e0bb5;
            box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .35), inset -5px 0 5px -5px rgba(0, 0, 0, .35);
            -webkit-box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .35), inset -5px 0 5px -5px rgba(0, 0, 0, .35);
            -moz-box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .35), inset -5px 0 5px -5px rgba(0, 0, 0, .35);
            color: #fff;
            text-decoration: none
        }

        .megamenu>li.active {
            background-color: #1450dc;
            -webkit-box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .35), inset -5px 0 5px -5px rgba(0, 0, 0, .35);
            -moz-box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, .35), inset -5px 0 5px -5px rgba(0, 0, 0, .35);
            color: #fff;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, .5)
        }

        .megamenu>li a.drop-down,
        .megamenu>li a.nodrop-down {
            line-height: 44px;
            outline: 0;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 12px;
        }

        .megamenu>li a.drop-down {
            background-image: url(../img/arrow-down-white.png);
            background-repeat: no-repeat;
            background-position: right 20px;
            padding: 14px 15px 15px 0;
            color: #fff;
        }

        .megamenu>li a.nodrop-down {
            padding: 14px 15px 15px 0
        }

        .megamenu>li a.drop-down:hover {
            cursor: pointer;
            background-image: url(../img/arrow-down-white.png);
            color: #fff
        }

        .megamenu>li a.drop-down:hover .drop-down-container {
            display: block !important;
            background: red;
        }

        .megamenu>li .nodrop-down:hover {
            cursor: pointer;
            background-image: none;
            color: #fff
        }

        .megamenu>li.active .drop-down {
            cursor: pointer;
            background-image: url(../img/arrow-down-white.png);
            color: #fff
        }

        .megamenu>li.active .nodrop-down {
            color: #fff
        }

        a#megamenu-button-mobile {
            background-image: url(../img/menu-down.png);
            background-repeat: no-repeat;
            background-position: 98% 13px;
            padding: 12px 20px 12px 0;
            color: #FF9;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
            text-transform: uppercase;
            font-weight: 700;
            box-shadow: none;
            display: none;
            text-decoration: none
        }

        a#megamenu-button-mobile.active {
            background-image: url(../img/menu-up.png);
            background-position: 98% 11px;
            box-shadow: none
        }

        .megamenu>li .drop-down-container {
            position: absolute;
            top: 44px;
            left: 0;
            z-index: 9998;
            float: left;
            color: #fff;
            width: 1170px;
            margin: 0 0 40px;
            padding: 30px 15px 0;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top: none;
            background: #1e6fe0;
            /* display:none; */
        }

        .drop-down-container#icon-menu a {
            display: block;
            background: #424952;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            transition: background .5s ease;
            font-size: 14px;
            font-weight: 700;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 20px 15px;
            margin-bottom: 25px;
            color: #fff;
            -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .1);
            -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .1)
        }

        .drop-down-container#icon-menu a:hover {
            background: #084dee
        }

        .drop-down-container#icon-menu a i {
            float: right;
            color: #fff;
            margin: -10px 0 0
        }

        .drop-normal {
            position: relative
        }

        .megamenu>li .drop-down-container.normal {
            position: absolute;
            top: 44px;
            left: -15px;
            display: none;
            /* width:auto; */
            padding-top: 0;
            padding-bottom: 0;
            background: 0 0;
        }

        li.drop-normal:hover>.drop-down-container {
            display: block !important;
        }

        .megamenu>li a.drop-down:hover .drop-down-container.normal {
            display: block !important;
        }

        h5 em,
        ul.tabs {
            display: block
        }

        .drop-down-container.normal ul {
            list-style: none;
            margin: 0;
            padding: 0
        }

        .drop-down-container.normal ul li {
            text-align: left
        }

        .drop-down-container.normal ul li a {
            display: block;
            padding: 0px 10px;
            width:180px;
            color: #fff;
            background-color: #131ee89e;
        }

        .drop-down-container.normal ul li a:hover {
            background-color: #040763;
            color: #fff
        }

        .megamenu iframe {
            border: 0;
            margin-bottom: 20px;
            width: 100%
        }

        .megamenu hr {
            margin: 0 0 20px;
            border: 0;
            border-top: 1px solid #25282d;
            border-bottom: 1px solid #414750
        }

        .megamenu>li .drop-down-container a {
            color: #12b0e6
        }

        .megamenu>li .drop-down-container a:hover {
            color: #fff;
            text-decoration: none
        }

        .megamenu>li .drop-down-container ul.list-menu {
            margin-left: 0;
            padding-left: 5px;
            margin-bottom: 20px
        }

        .megamenu>li .drop-down-container ul.list-menu li {
            background: url(../img/arrow-2.png) center left no-repeat;
            padding-left: 12px
        }

        h5 em {
            font-weight: 400;
            color: #999;
            font-size: 12px
        }

        ul.tabs {
            list-style: none;
            border-bottom: 2px solid #414750;
            margin-bottom: 15px;
            padding-bottom: 0;
            zoom: 1
        }

        ul.tabs li {
            display: inline;
            float: left;
            width: auto;
            white-space: nowrap;
            margin-right: 10px
        }

        ul.tabs li a {
            color: #fff;
            position: relative;
            float: left;
            background-color: #424952;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font: 700;
            text-transform: none;
            padding: 4px 18px;
            margin: 0;
            font-weight: 700;
            -webkit-transition: background-color .3s;
            -moz-transition: background-color .3s;
            -o-transition: background-color .3s;
            -ms-transition: background-color .3s;
            transition: background-color .3s
        }

        ul.tabs li a.active {
            background-color: #2e31ee;
            color: #fff;
            text-decoration: none
        }

        ul.tabs-content {
            margin: 0 0 10px;
            display: block
        }

        ul.tabs-content>li {
            display: none
        }

        ul.tabs-content>li.active {
            display: block;
            text-decoration: none
        }

        ul.tabs:after,
        ul.tabs:before {
            content: '\0020';
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0
        }

        ul.tabs:after {
            clear: both
        }

        @media (min-width:980px) and (max-width:1200px) {
            .megamenu_container {
                width: 970px;
                margin: auto;
                left: auto;
                top: auto
            }

            .megamenu>li .drop-down-container {
                width: 940px
            }
        }

        @media only screen and (max-width:980px) {
            a#megamenu-button-mobile {
                display: block;
                padding-left: 10px
            }

            .megamenu_container {
                width: 755px;
                height: auto;
                margin: auto;
                position: relative;
                left: auto;
                top: auto
            }

            .megamenu>li .drop-down-container {
                position: absolute;
                top: auto;
                width: 725px;
                margin: 0;
                -webkit-border-bottom-right-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px
            }

            .megamenu img {
                max-width: 98%;
                height: auto;
                width: auto\9
            }

            .megamenu embed,
            .megamenu iframe,
            .megamenu object {
                width: 100%
            }

            .megamenu>li {
                float: none;
                width: auto;
                border: none;
                display: block;
                padding: 0
            }

            .megamenu>li a.drop-down,
            .megamenu>li a.nodrop-down {
                background-position: 99% 18px;
                line-height: 12px;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 12px;
                display: block
            }

            .megamenu {
                display: none
            }

            .megamenu>li .drop-down-container.normal {
                position: relative;
                top: 0;
                left: 0;
                float: none;
                display: none;
                padding: 0;
                margin: 0;
                background: #09c;
                width: 755px;
                -webkit-border-bottom-right-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomright: 0;
                -moz-border-radius-bottomleft: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-top: none
            }

            .drop-down-container.normal ul {
                margin: 0;
                padding: 0
            }

            .drop-down-container.normal ul li {
                border-bottom: 1px solid #2da7d0;
                padding: 0;
                margin: 0;
                background: 0 0
            }

            .drop-down-container.normal ul li a {
                width: auto;
                background: 0 0;
                color: #fff;
                margin: 0;
                padding: 5px 5px 5px 15px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0
            }

            .drop-down-container.normal ul li a:hover {
                background: #2d343e;
                color: #fff
            }
        }

        @media only screen and (max-width:767px) {
            .megamenu_container {
                width: 100%;
                margin: auto;
                left: auto;
                top: auto
            }

            .megamenu>li .drop-down-container.normal {
                padding-bottom: 0;
                height: 100%
            }

            .megamenu>li .drop-down-container {
                width: auto
            }

            .megamenu>li .drop-down-container#icon-menu {
                width: 100%;
                padding: 25px 0 0
            }

            .megamenu>li .drop-down-container#icon-menu .span3 {
                margin: 0 10px 0 15px;
                width: auto
            }

            .megamenu>li {
                float: none;
                width: auto;
                border: none;
                display: block;
                padding: 0
            }

            .megamenu>li a.drop-down,
            .megamenu>li a.nodrop-down {
                background-position: 99% 18px;
                line-height: 12px;
                padding-top: 14px;
                padding-bottom: 14px
            }

            .megamenu>li .drop-down-container.normal {
                position: relative;
                top: 0;
                left: 0;
                float: none;
                display: none;
                padding-top: 0;
                padding-left: 0;
                background: #09c;
                width: 100%;
                -webkit-border-bottom-right-radius: 0;
                -webkit-border-bottom-left-radius: 0;
                -moz-border-radius-bottomright: 0;
                -moz-border-radius-bottomleft: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-top: none
            }

            .drop-down-container.normal ul {
                margin: 0;
                padding: 0
            }

            .drop-down-container.normal ul li {
                border-bottom: 1px solid #2da7d0;
                padding: 0;
                margin: 0;
                background: 0 0
            }

            .drop-down-container.normal ul li a {
                width: auto;
                background: 0 0;
                color: #fff;
                margin: 0;
                padding: 5px 5px 5px 15px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0
            }

            .drop-down-container.normal ul li a:hover {
                background: #2d343e;
                color: #fff
            }
        }

        div.drop-down-container>ul>li>a.drop-down {
            line-height: 20px !important;
            padding: 7px 10px;
            max-width: 250px;
            width: auto;
        }
    </style>

<script>
$(".main-nav-toggle").click((function (e) { e.preventDefault(), $(this).toggleClass("active"), $(this).next("ul").toggleClass("active") }))
</script>

<div class="modal fade" id="statisticModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">MUROJAATLAR STATISTIKASI</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="tshtt_diagramma"></div>
        <div class="tshtt_info">
            <ul>
                <li><span></span> - </li>
                <li><span></span> - Qoniqarsiz</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
</div>
</div>





<!-- social networks --->
<div class="header-nets-block">
<ul>
<li>
    <a href="https://m.facebook.com/profile.php?id=100038914939742&_rdr" class="__f social-item"><img
            src="{% static 'images/f.png' %}" alt=""></a>
</li>
<li>
    <a href="#" class="__i social-item"><img src="{% static 'images/i.png' %}" alt=""></a>
</li>
<li>
    <a href="#" class="__y social-item"><img src="{% static 'images/y.png' %}" alt=""></a>
</li>
<li>
    <a href="#" class="__tt social-item"><img src="{% static 'images/tt.png' %}" alt=""></a>
</li>
<li>
    <a href="#" class="__tg social-item"><img src="{% static 'images/tg.png' %}" alt=""></a>
</li>
<li>
    <a href="#" class="__tw social-item"><img src="{% static 'images/twitter.png' %}" alt=""></a>
</li>
</ul>
</div>


<main class="content" style="padding:10px 0 !important">

<div class="container d-flex main-panels-cont">
<div class="sidebar-left">
    <div class="sidebar-right">

        <div class="director-item">
            <div class="director-item__title">Denov tumani maktabgacha va maktab ta’limi bo‘lim
                mudiri<br> </div>
            <p>Kirgizbayev Suxrobbek Mukimjanovich<br>
                Telefon:0 371 212-01-98<br>
                E-mail: yunusobodtxtb212@gmail.com<br>
            </p>
            <div class="d-flex justify-content-between mb-4"><a class="btn btn-o"
                    href="/murojaatlar">Murojaat yuborish</a>
                <a class="btn btn-o" href="/oz/toskent-viloati-okimi">Bog'lanish</a>
            </div>
            <img class="mb-4" src="{% static 'images/mudir.jpg'  %}" width="70%">
        </div>

    </div>

    <div class="sidebar-news-block">
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid fa-book mt-3 text-primary"></i><span><a href="https://www.kitob.uz/"
                    class="color">Elektron kutubxona</a> </span></div>
        <hr>

        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid mt-3 fa-book text-primary"></i><span><a href="https://uzedu.uz/uz"
                    class="color">Maktab va Maktabgacha ta'lim vazirligi</a> </span></div>
        <hr>
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid fa-school mt-3 text-primary"></i><span><a
                    href="/xalq-talimi-bolimi/talim-muassasalari.html" class="color">Ta`lim muassasalari</a>
            </span></div>
        <hr>
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid fa-school mt-3 text-primary"></i><span><a href="/mtm/"
                    class="color">Maktabgacha ta'lim tashkilotlari</a> </span></div>
        <hr>
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid fa-tasks mt-3 text-primary"></i><span><a
                    href="/xalq-talimi-bolimi/bo039sh-ish-o039rinlari/142-bosh-ish-orinlari.html"
                    class="color">Bo`sh ish o`rinlari</a> </span></div>
        <hr>
        <!--<div class="sidebar-news-block__title p-3 h5"><i class="fa-solid mt-3 fa-book text-primary"></i><span><a href="https://eduportal.uz/" class="color">Online Treninglar</a>        </span></div><hr>-->
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid mt-3 fa-book text-primary"></i><span><a href="https://maktab.uz/"
                    class="color">Videodarsliklar kutubxonasi</a> </span></div>
        <hr>
        <div class="sidebar-news-block__title p-3 h5"><i
                class="fa-solid mt-3 fa-book text-primary"></i><span><a href="https://uzbekcoders.uz/"
                    class="color">Bir million o`zbek dasturchilari </a> </span></div>
        <hr>

        <div class="news-list">


        </div>

    </div>

    <div class="sidebar-news-block">
        <div class="news-list">
            <div class="sidebar-news-block__title p-3 h5"><i
                    class="fas fa-building mt-3 text-primary"></i></i><span class="color">Maktablar
                    soni: 42 </span></div>
            <hr>
            <div class="sidebar-news-block__title p-3 h5"><i
                    class="fa-solid fa-child mt-3 text-primary"></i><span class="color">O`quvchilar
                    soni: 60788 </span></div>
            <hr>
            <div class="sidebar-news-block__title p-3 h5"><i
                    class="fas fa-chalkboard-teacher mt-3 text-primary"></i><span
                    class="color">O`qituvchilar soni: 3068 </span></div>
        </div>
    </div>
    <div class="col-left">
        <h3>Yil dasturi</h3>
        <p><a href="/oqituvchilarga/davlat-dasturlari/" title="All courses">
                <img src="{% static 'images/yil_dasturi.jpg' %}" alt="Banner"
                    class="img-rounded img-responsive"></a></p>
    </div>
    <div class="col-left">
        <h3>Besh muhim tashabbus</h3>
        <p><a href="/oqituvchilarga/besh-muhim-tashabbus/" title="All courses">
                <img src="{% static 'images/photo.jpg' %}" alt="Banner"
                    class="img-rounded img-responsive"></a></p>
    </div>

   
    <!-- <div class="sidebar-news-block">
        <div class="news-list">
            <div id="calendar-layer">
                <table id="calendar" class="calendar">
                    <tr>
                        <th colspan="7" class="monthselect"><a class="monthlink"
                                onclick="doCalendar('01','2025','right'); return false;" href="#"
                                title="Предыдущий месяц">&laquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;Февраль
                            2025&nbsp;&nbsp;&nbsp;&nbsp;&raquo;</th>
                    </tr>
                    <tr>
                        <th class="workday">Пн</th>
                        <th class="workday">Вт</th>
                        <th class="workday">Ср</th>
                        <th class="workday">Чт</th>
                        <th class="workday">Пт</th>
                        <th class="weekday">Сб</th>
                        <th class="weekday">Вс</th>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                        <td class="weekday">1</td>
                        <td class="day">2</td>
                    </tr>
                    <tr>
                        <td class="day-active-v">3</td>
                        <td class="day-active-v">4</td>
                        <td class="day">5</td>
                        <td class="day-active-v">6</td>
                        <td class="day-active-v">7</td>
                        <td class="day">8</td>
                        <td class="weekday">9</td>
                    </tr>
                    <tr>
                        <td class="day">10</td>
                        <td class="day">11</td>
                        <td class="day-active-v">12</td>
                        <td class="day-active-v">13</td>
                        <td class="day day-current">14</td>
                        <td class="weekday">15</td>
                        <td class="weekday">16</td>
                    </tr>
                    <tr>
                        <td class="day">17</td>
                        <td class="day">18</td>
                        <td class="day">19</td>
                        <td class="day">20</td>
                        <td class="day">21</td>
                        <td class="weekday">22</td>
                        <td class="weekday">23</td>
                    </tr>
                    <tr>
                        <td class="day">24</td>
                        <td class="day">25</td>
                        <td class="day">26</td>
                        <td class="day">27</td>
                        <td class="day">28</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
</div>

<div class="content-body">
    <div class="for-acquaintance">

        <h3 class="title-1">Yangiliklar </h3>


        <div class="actual-news">
            <div class="actual-news__img"><img
                    src="{% static 'uploads/posts/2025-02/1739470905_photo_2025-02-13_20-24-16.jpg' %}"></div>
            <div class="actual-news__header d-flex justify-content-between">
                <strong>MAVZUGA OID YANGILIKLAR</strong><span>14.02.2025 / 08:49</span>
            </div>
            <div class="actual-news__body">
                <h3><a
                        href="/matbuot-xizmati/yangiliklar/1302-yunusobod-tumanidagi-97-sonli-umumtalim-maktabida-talim-va-biznes-hamkorligi-muvaffaqiyat-kaliti-shiori-ostida-oquvchilar-bilan-uchrashuv-otkazildi.html">Yunusobod
                        tumanidagi 97-sonli umumta&#039;lim maktabida “Ta&#039;lim va biznes hamkorligi
                        – muvaffaqiyat kaliti!” shiori ostida o&#039;quvchilar bilan uchrashuv
                        o&#039;tkazildi</a></h3>
                <p>
                    Ochiq muloqotga O'zbekiston savdo-sanoat palatasi mas'ullari (D.Ismoiljonova), tuman
                    prokuraturasi, Toshkent shahar maktabgacha va maktab ta'limi boshqarmasi vakillari,
                    tuman maktabgacha va maktab ta'limi bo'limi boshlig'i (S.Kirgizbayev), taniqli...
                </p>
            </div>
        </div>




        <div class="post-item d-flex jusify-content-between">
            <div class="post-item__preview">
                <div class="post-item__img">
                    <img src="/uploads/posts/2025-02/1739548205_photo_2025-02-14_00-30-55.jpg">
                </div>
                <div class="post-item__stats d-flex justify-content-between">
                    <div class="post-item__date">14.02.2025 / 08:49.</div>
                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                </div>
            </div>
            <div><a class="post-item__title"
                    href="/matbuot-xizmati/yangiliklar/1302-yunusobod-tumanidagi-97-sonli-umumtalim-maktabida-talim-va-biznes-hamkorligi-muvaffaqiyat-kaliti-shiori-ostida-oquvchilar-bilan-uchrashuv-otkazildi.html">Yunusobod
                    tumanidagi 97-sonli umumta&#039;lim maktabida “Ta&#039;lim va biznes hamkorligi –
                    muvaffaqiyat kaliti!” shiori ostida o&#039;quvchilar bilan uchrashuv
                    o&#039;tkazildi</a>
                <p>Ochiq muloqotga O'zbekiston savdo-sanoat palatasi mas'ullari (D.Ismoiljonova), tuman
                    prokuraturasi, Toshkent shahar maktabgacha va maktab ta'limi boshqarmasi vakillari,
                    tuman maktabgacha va maktab ta'limi bo'limi boshlig'i (S.Kirgizbayev), taniqli...
                </p>
            </div>
        </div>



        <div class="post-item d-flex jusify-content-between">
            <div class="post-item__preview">
                <div class="post-item__img">
                    <img src="/uploads/posts/2025-02/1739470850_photo_2025-02-13_20-24-15.jpg">
                </div>
                <div class="post-item__stats d-flex justify-content-between">
                    <div class="post-item__date">13.02.2025 / 11:18.</div>
                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                </div>
            </div>
            <div><a class="post-item__title"
                    href="/matbuot-xizmati/yangiliklar/1300-talim-va-biznes-hamkorligi-muvaffaqiyat-kaliti-shiori-ostida-uchrashuv-bolib-otdi.html">“Ta’lim
                    va biznes hamkorligi – muvaffaqiyat kaliti!” shiori ostida uchrashuv bo‘lib
                    o‘tdi</a>
                <p>Yunusobod tumanidagi 5-sonli umumta’lim maktabida ta’lim va biznes hamkorligini
                    mustahkamlash maqsadida “Ta’lim va biznes hamkorligi – muvaffaqiyat kaliti!” shiori
                    ostida uchrashuv bo‘lib o‘tdi. Ushbu tadbir Savdo-sanoat palatasi, Yunusobod
                    tuman...</p>
            </div>
        </div>



        <div class="post-item d-flex jusify-content-between">
            <div class="post-item__preview">
                <div class="post-item__img">
                    <img src="/uploads/posts/2025-02/1739469052_photo_2025-02-13_15-58-31.jpg">
                </div>
                <div class="post-item__stats d-flex justify-content-between">
                    <div class="post-item__date">13.02.2025 / 10:50.</div>
                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                </div>
            </div>
            <div><a class="post-item__title"
                    href="/matbuot-xizmati/yangiliklar/1299-hazrati-alisher-navoiyning-584-yilligi-hamda-zahiriddin-muhammad-boburning-542-yilligiga-bagishlangan-adabiy-mariy-tadbir-bolib-otdi.html">Hazrati
                    Alisher Navoiyning 584 yilligi hamda Zahiriddin Muhammad Boburning 542 yilligiga
                    bag&#039;ishlangan adabiy-ma&#039;riy tadbir bo&#039;lib o&#039;tdi</a>
                <p>Poytaxtimizning Yunusobod tumanidagi 235-sonli umumta'lim maktabida ikki buyuk siymo
                    — Hazrati Alisher Navoiyning 584 yilligi hamda Zahiriddin Muhammad Boburning 542
                    yilligiga bag'ishlangan adabiy-ma'riy tadbir bo'lib o'tdi. Tadbirga Xalq...</p>
            </div>
        </div>



        <div class="post-item d-flex jusify-content-between">
            <div class="post-item__preview">
                <div class="post-item__img">
                    <img src="/uploads/posts/2025-02/1739441814_photo_2025-02-13_15-15-35.jpg">
                </div>
                <div class="post-item__stats d-flex justify-content-between">
                    <div class="post-item__date">13.02.2025 / 03:16.</div>
                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                </div>
            </div>
            <div><a class="post-item__title"
                    href="/matbuot-xizmati/yangiliklar/1298-energiya-sarfi-savodxonligi-yuzasidan-xalqaro-hamkorlik-loyihalari.html">Energiya
                    sarfi savodxonligi yuzasidan xalqaro hamkorlik loyihalari</a>
                <p>Bugun Maktabgacha va maktab ta'limi vazirligi tomonidan Vazirlar Mahkamasi huzuridagi
                    Texnik jihatdan tartibga solish agentligi bilan hamkorlikda "Energiya sarfi
                    savodxonligi" mavzusidagi seminar-treninglarga start berildi. Unda vazirning
                    birinchi...</p>
            </div>
        </div>

        <div class="text-center">
            <ul class="pagination">
                <li><span>Oldingi</span></li>
                <li><span>1</span> <a href="/page/2/">2</a> <a
                        href="/page/3/">3</a> <a href="/page/4/">4</a>
                    <a href="/page/5/">5</a> <a href="/page/6/">6</a>
                    <a href="/page/7/">7</a> <a href="/page/8/">8</a>
                    <a href="/page/9/">9</a> <a
                        href="/page/10/">10</a> <span class="nav_ext">...</span> <a
                        href="/page/163/">163</a></li>
                <li><a href="/page/2/">Keyingi</a></li>
            </ul>
        </div>



        <div class="mt-3 text-right">
            <a href="/matbuot-xizmati/yangiliklar/">Barcha yangiliklar</a>
        </div>

    </div>
    <div class="container mt-4">
        <h3 class="title-1">Yangiliklar</h3>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 1">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 1</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
            
            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 2">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 2</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 3">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 3</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 4 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 4">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 4</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row mt-4">
            <!-- Card 5 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 5">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 5</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 6 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 6">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 6</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 7 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" class="card-img-top" alt="Yangilik 7">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 7</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
    
            <!-- Card 8 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://ogoh.uz/wp-content/uploads/2023/07/photo_2023-07-24_21-41-32.jpg" class="card-img-top" alt="Yangilik 8">
                    <div class="card-body">
                        <h5 class="card-title">Yangilik 8</h5>
                        <p class="card-text">Bu yerda qisqacha tavsif bo‘ladi.</p>
                        <a href="#" class="btn btn-primary">Batafsil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>          
    <div class="container mt-4">
        <h3 class="text-center mb-4">📸 Foto Galereya</h3>
        <div class="row">
            <!-- Image 1 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" alt="Rasm 1" onclick="openFullscreen(this)">
                </div>
            </div>

            <!-- Image 2 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" alt="Rasm 2" onclick="openFullscreen(this)">
                </div>
            </div>

            <!-- Image 3 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=d509c909b7ed8ad047db3aa2c9c4a98ae68acc75-10289922-images-thumbs&n=13" alt="Rasm 3" onclick="openFullscreen(this)">
                </div>
            </div>

            <!-- Image 4 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="https://storage.kun.uz/source/3/e-_-eCzhVocLd7bRmOifk5eFhJLyhlDF.jpg" alt="Rasm 4" onclick="openFullscreen(this)">
                </div>
            </div>
        </div>
    </div>

    <!-- Fullscreen Modal -->
    <div class="fullscreen-modal" id="fullscreenModal" onclick="closeFullscreen()">
        <img id="fullscreenImage" src="" alt="Kattalashtirilgan rasm">
    </div>

    <script>
        function openFullscreen(img) {
            var modal = document.getElementById("fullscreenModal");
            var modalImage = document.getElementById("fullscreenImage");
            modalImage.src = img.src;
            modal.style.display = "flex";
        }

        function closeFullscreen() {
            document.getElementById("fullscreenModal").style.display = "none";
        }
    </script>
</div>
</div>
</main>
</div>

<div class="container footer-useful-links d-flex justify-content-between flex-wrap">

<a href="http://www.president.uz/uz"><span><img
    src="{% static '2021/03/4547c694-58cc-8ec9-aef6-1b9a2939748e-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Prezidenti rasmiy veb-sayti</strong></a>
<a href="https://pm.gov.uz"><span><img
    src="{% static '2021/03/4547c694-58cc-8ec9-aef6-1b9a2939748e-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Prezidenti virtual qabulhonasi</strong></a>
<a href="https://gov.uz"><span><img
    src="{% static '2021/03/govuz-120x80.png' %}"></span><strong>O'zbekiston Respublikasi hukumat
portali</strong></a>
<a href="https://my.gov.uz"><span><img
    src="{% static '2021/03/qip-shot-screen-006-120x80.png' %}"></span><strong>Yagona interaktiv
davlat hizmatlari portali</strong></a>
<a href="https://parliament.gov.uz"><span><img
    src="{% static '2021/03/qip-shot-screen-007-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Oliy Mazhlis qonunchilik palatasi</strong></a>
<a href="https://soliq.uz"><span><img
    src="{% static '2021/03/14112a8e-03a8-11fc-3c10-2985adb3a7b7-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Davlat Soliq qo'mitasi</strong></a>
<a href="http://invest.gov.uz"><span><img
    src="{% static '2021/03/4547c694-58cc-8ec9-aef6-1b9a2939748e-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi investiciya salohiyati portali</strong></a>
<a href="https://www.lex.uz"><span><img
    src="{% static '2021/03/be03e7fc-a81d-ee71-8897-2dc4029ff3ff-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Qonun huzhzhatlari ma'lumotlari milliy bazasi</strong></a>
<a href="https://davaktiv.uz"><span><img
    src="{% static '2021/03/bez-nazvania-120x80.png' %}"></span><strong>Davlat aktivlarini
boshqarish agentligi</strong></a>
<a href="https://constitution.uz"><span><img
    src="{% static '2021/03/4547c694-58cc-8ec9-aef6-1b9a2939748e-120x80.png' %}"></span><strong>O'zbekiston
Respublikasi Konstituciyasi</strong></a>
<a href="https://license.gov.uz"><span><img
    src="{% static '2021/03/2fef45e4-9982-97b8-499e-05f566bcae57-120x80.png' %}"></span><strong>Elektron
licenziyalash portali</strong></a>
<a href="http://ek.uz/uz"><span><img
    src="{% static '2021/03/b00543b8-7ea2-55bc-9cec-011c26c589b7-120x80.png' %}"></span><strong>Kommunal
ho'zhalik va uy-zhoy fondi portali</strong></a>
</div>
</main>
{% endblock %}