{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="{% static 'images/gerb.png' %}">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">03.03.2025 / 14:18.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/131-ozbekiston-respublikasi-davlat-gerbi.html">O&#039;zbekiston Respublikasi Davlat gerbi</a>        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="{% static 'images/flag.jpg' %}">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">03.03.2025 / 14:26.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/132-ozbekiston-respublikasi-davlat-bayrogi.html">O&#039;zbekiston Respublikasi Davlat bayrog&#039;i</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="{% static 'images/gimn.png' %}">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">03.03.2025 / 14:27.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/133-ozbekiston-respublikasi-davlat-madhiyasi.html">O&#039;zbekiston Respublikasi Davlat madhiyasi</a>
        <p>...</p>
    </div>
</div>



                    
                </div>
{% endblock %}