{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/templates/new_maktab/dleimages/no_image.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">05.04.2024 / 03:43.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/imtihon-materiallari/914-2023-2024-oquv-yilida-oquvchilarning-yakuniy-nazorat-imtihonlari-otkaziladigan-fanlarning-royxati-va-imtihon-otkazish-shakllari.html">2023 - 2024 o`quv yilida o`quvchilarning yakuniy nazorat imtihonlari o‘tkaziladigan fanlarning ro‘yxati va imtihon o‘tkazish shakllari</a>
        <p>Maktabgacha maktab ta'limi vazirining 2024-yil 20-martdagi 87-sonli buyrug'i bilan 2023 -2024-o'quv yilida umumta'lim muassasalarida o'quvchilarning yakuniy davlat attestatsiyasini tashkil etish va o'tkazish to'g'risidagi tartib tasdiqlandi. Unga...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-04/1713705897_1655976120_1655714819_b_pzed6tayqtubrtmxweafvts5kfgjpz.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">25.08.2022 / 04:54.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/131-ozbekiston-respublikasi-davlat-gerbi.html">O&#039;zbekiston Respublikasi Davlat gerbi</a>        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-04/1713706084_1655976347_1655715033_qgwtbcfd0pj_tzvpybvs81xegxqxulzn.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">25.08.2022 / 04:53.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/132-ozbekiston-respublikasi-davlat-bayrogi.html">O&#039;zbekiston Respublikasi Davlat bayrog&#039;i</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-04/1713706039_1655976444_1655715329_1182px-uzbek_anthem_music_sheet_instrumentalsimple_svg.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">25.08.2022 / 04:50.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039quvchilarga/davlat-ramzlari/133-ozbekiston-respublikasi-davlat-madhiyasi.html">O&#039;zbekiston Respublikasi Davlat madhiyasi</a>
        <p>...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/o039quvchilarga/page/2/">2</a> </li>
      <li><a href="https://yummtb.uz/o039quvchilarga/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>
{% endblock %}