{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-02/1739470905_photo_2025-02-13_20-24-16.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">13.02.2025 / 11:21.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/fotogalereya/1301-yunusobod-tumanidagi-5-sonli-umumtalim-maktabida-talim-va-biznes-hamkorligini-mustahkamlash-maqsadida-talim-va-biznes-hamkorligi-muvaffaqiyat-kaliti-shiori-ostida-uchrashuv-bolib-otdi.html">Yunusobod tumanidagi 5-sonli umumta’lim maktabida ta’lim va biznes hamkorligini mustahkamlash maqsadida “Ta’lim va biznes hamkorligi – muvaffaqiyat kaliti!” shiori ostida uchrashuv bo‘lib o‘tdi</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-02/1739342479_photo_2025-02-12_00-52-07.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">12.02.2025 / 11:40.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/fotogalereya/1292-yunusobod-tumanidagi-288-sonli-umumtalim-maktabida-oquvchilar-ortasida-siz-ekologiyaga-oid-qonunlarini-bilasizmi-respublika-korik-tanlovining-tuman-bosqichi-bolib-otdi.html">Yunusobod tumanidagi  288-sonli umumta&#039;lim maktabida  o‘quvchilar  o‘rtasida &quot;Siz ekologiyaga oid qonunlarini bilasizmi?&quot;  Respublika ko&#039;rik-tanlovining tuman bosqichi bo‘lib o‘tdi</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-02/1738994877_photo_2025-02-07_18-20-00.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">08.02.2025 / 11:07.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/fotogalereya/1288-yunusobod-tumanidagi-70-sonli-umumtalim-maktabida-8-sinf-oquvchilari-ishtirokida-behbudiyni-yod-etib-mavzusida-manaviy-marifiy-tadbir-otkazildi.html">Yunusobod tumanidagi 70-sonli umumta&#039;lim maktabida 8-sinf o&#039;quvchilari ishtirokida “Behbudiyni yod etib” mavzusida ma&#039;naviy-ma&#039;rifiy tadbir o&#039;tkazildi</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-02/1739355386_photo_2025-02-06_19-19-11-2.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">06.02.2025 / 03:15.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/fotogalereya/1294-5-sonli-maktabga-frantsiya-qurolli-kuchlari-sen-sir-koetkidan-harbiy-maktablar-majmuasi-huzuridagi-umumqoshin-harbiy-maktabi-kursanti-kichik-leytenant-fransua-andre-kyukshi-tashrif-buyurdi.html">5-sonli maktabga Frantsiya Qurolli Kuchlari Sen-Sir Koetkidan harbiy maktablar majmuasi huzuridagi Umumqoʻshin harbiy maktabi kursanti kichik leytenant Fransua-Andre Kyukshi  tashrif buyurdi</a>
        <p>...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/2/">2</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/3/">3</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/4/">4</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/5/">5</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/6/">6</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/7/">7</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/8/">8</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/9/">9</a> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/10/">10</a> <span class="nav_ext">...</span> <a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/15/">15</a></li>
      <li><a href="https://yummtb.uz/matbuot-xizmati/fotogalereya/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>
{% endblock %}