{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
    <div class="post-item d-flex jusify-content-between">
        <div class="post-item__preview">
             <div class="post-item__img">
                <img src="/uploads/posts/2024-09/1727109644_1727109589096.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">23.09.2024 / 09:29.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/videogalereya/1133-tinchlik-shukronasi.html">Tinchlik shukronasi</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-04/1712295167_photo_2024-04-03_18-25-04-2.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">05.04.2024 / 10:32.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/videogalereya/912-shavkat-mirziyoyev-toshkent-shahri-yunusobod-tumanidagi-5-umumtalim-maktabida-boldi.html">Shavkat Mirziyoyev Toshkent shahri Yunusobod tumanidagi 5-umumta’lim maktabida bo’ldi</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-04/1712295934_photo_2024-04-03_18-25-14.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">04.04.2024 / 10:40.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/videogalereya/913-maktabimizda-xalqaro-talis-2024-tadqiqotining-asosiy-sorovnoma-jarayonlari.html">Yunusobod tumanidagi 5-umumta’lim maktabida Xalqaro TALIS 2024 tadqiqotining asosiy so’rovnoma jarayonlari</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-03/1710573544_csrimvxp49yyqom1qi5e6da81aohxi9m_normal.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">11.03.2024 / 12:19.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/matbuot-xizmati/videogalereya/891-9-idumning-7-a-sinf-oquvchisi-mahmudova-marjonaning-chiqindilardan-holi-hayot-mavzusida-tayyorlangan-videolavha.html">9-IDUMning 7 A-sinf o&#039;quvchisi Mahmudova Marjonaning &quot;Chiqindilardan holi hayot&quot; mavzusida tayyorlangan videolavha</a>
        <p>...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/2/">2</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/3/">3</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/4/">4</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/5/">5</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/6/">6</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/7/">7</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/8/">8</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/9/">9</a> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/10/">10</a> <span class="nav_ext">...</span> <a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/12/">12</a></li>
      <li><a href="https://yummtb.uz/matbuot-xizmati/videogalereya/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>
{% endblock %}