{% load static %}

<header class="header" style="background: linear-gradient(rgba(62, 6, 232, 0.3), rgba(71, 5, 236, 0.3)), url('{% static 'images/plain.png' %}'); background-position: center; background-size: cover; padding-bottom:0;">
    <div class="header-top">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="header-top__left">
                <a class="logo d-flex align-items-center" href="/">
                    <img src="{% static 'images/logo_new.png' %}" width="10%" alt="logo"><br>
                    <strong style="color: #fff;">
                        <span>Denov tumani maktabgacha<br> va maktab ta’limi bo‘limi</span>
                        <span style="color: #fff;"> </span>
                    </strong>
                </a>
            </div>
            <div class="header-top__right d-flex">
                <div class="header-contacts mr-5"></div>
                <div class="header-contacts">
                    <div class="header-contacts__title" style="color: white;">ISHONCH TELEFONI</div>
                    <div class="header-contacts__body" style="color: #fff;width:300px !important"><span>(0 371)</span> 217-59-38</div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-nav " style="background: #2056f6;
    border-top: 1px solid #051bab;
    border-bottom: 15px solid #d4dadf;
    position: relative;
    padding: 15px 0;
    margin-top:95px;"> 
<div class="megamenu_container">
<a id="megamenu-button-mobile" href="#">Menu</a>
<ul class="megamenu">
<li class="drop-normal"><a class="drop-down" href="/xalq-talimi-bolimi/xalq-talimi-bolimi/">MMT
bo‘limi <span class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"    
    href="/xalq-talimi-bolimi/rahbariyat/">Rahbariyat </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/apparat-xodimlari/">Apparat
    xodimlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/tarkibiy-tuzilma/">Tarkibiy
    tuzilma </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/rahbariyat-qabul-kunlari/">Rahbariyat
    qabul kunlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/bolim-nizomi/">Bo‘lim Nizomi </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/talim-muassasalari/">Ta’lim
    muassasalari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/mtm.html">Maktabgacha ta&#039;lim
    tashkiloti </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/bolim-ish-kun-tartibi.html">Bo‘lim
    ish kun tartibi </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/bosh-ish-orinlari.html">Bo&#039;sh
    ish o&#039;rinlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/xalq-talimi-bolimi/bolim-manzili.html">Bo`lim manzili
</a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down"
href="/oqituvchilarga/oqituvchilarga/">O&#039;qituvchilarga <span
class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/oqituvchilarga/oqituvchilar-malakasini-oshirish.html">O‘qituvchilar
    malakasini oshirish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="{% url 'dars-ishlanmalar' %}">Dars
    ishlanmalar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oqituvchilarga/fanlar-boyicha-testlar.html">Fanlar
    bo&#039;yicha testlar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oqituvchilarga/davlat-dasturlari.html">Davlat
    dasturlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oqituvchilarga/kasaba-uyishmasi.html">Kasaba
    uyishmasi </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oqituvchilarga/huquq-va-majburiyatlar.html">Ta&#039;lim
    to‘g‘isidagi qonun </a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down"
href="/oquvchilarga/oquvchilarga.html">O&#039;quvchilarga <span
class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/oquvchilarga/davlat-ramzlari.html">Davlat ramzlari
</a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="#">Elektron
    darsliklar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oquvchilarga/imtihon-materiallari.html">Imtihon
    materiallari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/oquvchilarga/yoqolgan-shahodatnomani-tiklash-uchun-ariza-berish.html">Yo‘qolgan
    shahodatnomani tiklash uchun ariza berish </a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down" href="/ota-onalarga/ota-onalarga.html">Ota-onalarga
<span class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/bolani-bogchaga-joylashtirish-uchun-ariza-berish.html">Bolani
    bogʼchaga joylashtirish uchun ariza berish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/bolalarni-bogchaga-qabul-navbatini-tekshirish.html">Bolalarni
    bog‘chaga qabul navbatini tekshirish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/bogcha-tolovlari-togrisida-malumot.html">Bog&#039;cha
    to‘lovlari to‘g‘risida ma&#039;lumot olish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/bolani-maktabning-birinchi-sinfiga-joylashtirishga-ariza-yuborish.html">Bolani
    maktabning birinchi sinfiga joylashtirish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/maktabga-oquvchilarni-qabul-qilish.html">Maktabga
    o‘quvchilarni qabul qilish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/bolalarni-bir-maktabdan-boshqa-maktabga-kochirish-uchun-ariza-yuborish.html">Bolalarni
    bir maktabdan boshqa maktabga ko‘chirish </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/ota-onalarga/xorijiy-fuqarolar-uchun-bolalarini-maktabga-joylashtirish.html">Xorijiy
    fuqarolar uchun bolalarini maktabga joylashtirish </a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down" href="/matbuot-xizmati/matbuot-xizmati.html">Matbuot
xizmati <span class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/yangiliklar.html">Yangiliklar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/elonlar.html">E&#039;lonlar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/maruzalar.html">Ma&#039;ruzalar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/tadbirlar-rejasi.html">Tadbirlar rejasi
</a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/bolim-ish-rejasi.html">Bo`lim ish rejasi
</a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/videogalereya.html">Videogalereya </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/matbuot-xizmati/fotogalereya.html">Fotogalereya </a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down" href="/faoliyat/faoliyat.html">Faoliyat <span
class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/faoliyat/korrupsiyaga-qarshi-kurash.html">Korrupsiyaga
    qarshi kurash </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/faoliyat/talimga-doir-terminlar.html">Ta’limga doir
    terminlar </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/faoliyat/besh-muhim-tashabbus.html">Besh muhim tashabbus
</a>

</li>
</ul>
</div>
</li>
<li class="drop-normal"><a class="drop-down"
href="/normativ-hujjatlar/normativ-hujjatlar.html">Normativ hujjatlar <span
class="caret"></span></a>
<div class="drop-down-container normal">
<ul>
<li class="drop-normal"><a class="drop-down"
    href="/normativ-hujjatlar/prezident-qaror-va-farmonlari.html.html">Prezident
    qaror va farmonlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/normativ-hujjatlar/maktabgacha-va-maktab-talim-vazirligi-hayat-qarorlari.html">Maktabgacha
    va maktab ta&#039;lim vazirligi hay’at qarorlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/normativ-hujjatlar/maktabgacha-va-maktab-talim-vazirligi-meyoriy-hujjatlari.html">Maktabgacha
    va maktab ta&#039;lim vazirligi me’yoriy hujjatlari </a>

</li>
<li class="drop-normal"><a class="drop-down"
    href="/normativ-hujjatlar/yunusobod-tumani-maktabgacha-va-maktab-talimi-bolimining-meyoriy-hujjatlari.html">Yunusobod
    tumani maktabgacha va maktab taʼlimi bo`limining me`yoriy hujjatlari </a>

</li>
</ul>
</div>
</li>
</ul>
        </div>
    </nav>
    
</header>