{% extends "base.html" %}
{% load static %}

{% block content %}

                    <div class="for-acquaintance">

                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661840337_depositphotos_192671974-stock-photo-children-in-chemical-lesson.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">30.08.2022 / 11:13.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/dars-ishlanmalar/170-fizika-fanidan-yillik-dars-ishlanmalar.html">Fizika
                                    fanidan yillik dars ishlanmalar</a>
                                <p>...</p>
                            </div>
                        </div>


                    </div>

                    {% endblock %}

