

{% extends "base.html" %}
{% load static %}


{% block content %}

                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661860112_134a8134f0c81a54b55dbbc2ca3ae75e.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">30.08.2022 / 04:48.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039qituvchilarga/fanlar-bo039yicha-testlar/177-boshlangich-va-maxsus-talim-malaka-oshirish-kursi-uchun-testlar.html">Boshlang‘ich va maxsus ta’lim malaka oshirish kursi uchun testlar</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661859437_kartinka_uchitel_s_ukazkoj.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">30.08.2022 / 04:36.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039qituvchilarga/fanlar-bo039yicha-testlar/175-pedagogika-psixologiya-va-talim-texnologiyasi-malaka-oshirish-kursi-uchun-testlar-toplami.html">Pedagogika, psixologiya va ta’lim texnologiyasi malaka oshirish kursi uchun testlar to‘plami</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661858774_png-clipart-quiz-computer-icons-general-knowledge-question-others-blue-game.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">30.08.2022 / 04:25.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039qituvchilarga/fanlar-bo039yicha-testlar/174-aniq-va-tabiiy-fanlar-malaka-oshirish-kursi-boyicha-testlar-toplami.html">Aniq  va tabiiy fanlar malaka oshirish kursi bo‘yicha testlar to‘plami</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661857880_9f0aa39506d10de0f22cbd49483d276d.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">30.08.2022 / 04:10.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/o039qituvchilarga/fanlar-bo039yicha-testlar/173-tillarni-oqitish-malaka-oshirish-kursi-boyicha-testlar-toplami.html">Tillarni o‘qitish malaka oshirish kursi bo‘yicha testlar to‘plami</a>
        <p>...</p>
    </div>
</div>



                    
                </div>




{% endblock %}