


{% extends "base.html" %}
{% load static %}



{% block content %}




                    <div class="for-acquaintance">



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661835319_tarb2.jpeg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">30.08.2022 / 09:40.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/oqituvchilar-malakasini-oshirish/167-kasbiy-va-pedagogik-qayta-tayyorlash.html">Kasbiy
                                    va pedagogik qayta tayyorlash</a>
                                <p>...</p>
                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661835022_korean_zoom_online_classes_instagram_post_-_sdelano_s_pomoschju_postermywall_3_3_nvqaz2f.jpeg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">25.08.2022 / 09:50.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/oqituvchilar-malakasini-oshirish/168-chet-tili-koreys-tili-oqituvchisi-qayta-tayyorlash-kurslariga-qabul-elon-qilinadi.html">Chet
                                    tili (Koreys tili) o‘qituvchisi qayta tayyorlash kurslariga qabul EʼLON
                                    qilinadi!!!</a>
                                <p>...</p>
                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661837255_channels4_profile.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">22.08.2022 / 10:04.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/oqituvchilar-malakasini-oshirish/169-xalq-talimi-tizimida-pedagog-kadrlarni-qayta-tayyorlash-ishlarini-yanada-takomillashtirish-togrisidagi-buyrugi.html">Xalq
                                    taʼlimi tizimida pedagog kadrlarni qayta tayyorlash ishlarini yanada
                                    takomillashtirish to‘g‘risidagi buyrug`i</a>
                                <p>...</p>
                            </div>
                        </div>




                    </div>




{% endblock %}