{% extends "base.html" %}
{% load static %}

{% block content %}


                    <div class="for-acquaintance">



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="/uploads/posts/2024-02/1709014062_f99ebbc61fb38096b49c63f00d1a1c46.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">27.02.2024 / 11:08.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/davlat-dasturlari/874-2024-yil-yoshlar-va-biznesni-qollab-quvvatlash-yili-davlat-dasturi.html">2024
                                    yil - Yoshlar va biznesni qo‘llab-quvvatlash yili davlat dasturi</a>
                                <p>...</p>
                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2023-03/1678432626_1673592855_2023.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">13.01.2023 / 11:53.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/davlat-dasturlari/447-2023-yil-insonga-etibor-va-sifatli-talim-yili.html">2023
                                    yil - Insonga e’tibor va sifatli ta’lim yili davlat dasturi</a>
                                <p>...</p>
                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="images/no_image.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">09.09.2022 / 10:36.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/huquq-va-majburiyatlar/252-talim-togrisidagi-qonun.html">Ta’lim
                                    to‘g‘risidagi Qonun</a>
                                <p>O‘zbekiston Respublikasining Qonuni Ta’lim to‘g‘risida 1-bob. Umumiy qoidalar
                                    1-modda. Ushbu Qonunning maqsadi Ushbu Qonunning maqsadi ta’lim sohasidagi
                                    munosabatlarni tartibga solishdan iborat. 2-modda. Ta’lim to‘g‘risidagi qonunchilik
                                    Ta’lim...</p>
                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2022-08/1661860112_134a8134f0c81a54b55dbbc2ca3ae75e.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">30.08.2022 / 04:48.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/o039qituvchilarga/fanlar-bo039yicha-testlar/177-boshlangich-va-maxsus-talim-malaka-oshirish-kursi-uchun-testlar.html">Boshlang‘ich
                                    va maxsus ta’lim malaka oshirish kursi uchun testlar</a>
                                <p>...</p>
                            </div>
                        </div>

                        <div class="text-center">
                            <ul class="pagination">
                                <li><span>Oldingi</span></li>
                                <li><span>1</span> <a href="https://yummtb.uz/o039qituvchilarga/page/2/">2</a> <a
                                        href="https://yummtb.uz/o039qituvchilarga/page/3/">3</a> <a
                                        href="https://yummtb.uz/o039qituvchilarga/page/4/">4</a> </li>
                                <li><a href="https://yummtb.uz/o039qituvchilarga/page/2/">Keyingi</a></li>
                            </ul>
                        </div>



                    </div>

    {% endblock %}
