
{% extends "base.html" %}
{% load static %}

{% block content %}



                    <div class="for-acquaintance">

                        <style>
                            .default-content img {
                                max-width: 100%;
                            }

                            iframe {
                                display: block !important;
                                height: 500px !important;

                            }
                        </style>
                        <h2 class="entry-title">
                            <h3 rel="bookmark">Bo`lim manzili</h3>
                        </h2>
                        <div class="entry-meta">
                            <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">25-08-2022,
                                    13:06</span></span>
                            <span class="meta-item blog-category"><i class="icon-folder-open"></i> <a href="/">Bosh
                                    sahifa</a> / Bo`lim manzili</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="default-content">
                                    <p>
                                        <b>Manzil: </b>100099, Toshkent shahar, Yunusobod tumani, K.Zaripov ko‘chasi 7
                                        uy <br><b>Tel:</b> (0 371) 212-01-99<br><b>Faks:</b> (0
                                        371)212-01-99<br><b>Elektron pochta:</b> yunusobodtxtb212@gmail.com<br><b>Dam
                                            olish kunlari: </b>shanba va yakshanba <br><b>Mo‘ljal: </b>Venetsiya
                                        restorani<br><b>Bekat: </b>9-67-71<b> </b>yo‘nalishdagi avtobuslar
                                        bekati<br><br><br><br><br><br>
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>




    {% endblock %}

