{% extends "base.html" %}
{% load static %}

{% block content %}


                    <div class="for-acquaintance">


                        <style>
                            .default-content img {
                                max-width: 100%;
                            }

                            iframe {
                                display: block !important;
                                height: 500px !important;

                            }
                        </style>
                        <h2 class="entry-title">
                            <h3 rel="bookmark">Bo`lim ish kun tartibi</h3>
                        </h2>
                        <div class="entry-meta">
                            <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">25-08-2022,
                                    12:58</span></span>
                            <span class="meta-item blog-category"><i class="icon-folder-open"></i> <a href="/">Bosh
                                    sahifa</a> / Bo‘lim ish kun tartibi</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="default-content">
                                    <p>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="227"><b>Ҳафта кунлари</b></td>
                                                <td width="240"><b>Иш вақти</b></td>
                                                <td width="227"><b>Тушлик вақти</b></td>
                                            </tr>
                                            <tr>
                                                <td width="227">Душанба</td>
                                                <td width="240">09:00 дан 18:00 гача</td>
                                                <td width="227">13:00 дан 14:00 гача</td>
                                            </tr>
                                            <tr>
                                                <td width="227">Сешанба</td>
                                                <td width="240">09:00 дан 18:00 гача</td>
                                                <td width="227">13:00 дан 14:00 гача</td>
                                            </tr>
                                            <tr>
                                                <td width="227">Чоршанба</td>
                                                <td width="240">09:00 дан 18:00 гача</td>
                                                <td width="227">13:00 дан 14:00 гача</td>
                                            </tr>
                                            <tr>
                                                <td width="227">Пайшанба</td>
                                                <td width="240">09:00 дан 18:00 гача</td>
                                                <td width="227">13:00 дан 14:00 гача</td>
                                            </tr>
                                            <tr>
                                                <td width="227">Жума</td>
                                                <td width="240">09:00 дан 18:00 гача</td>
                                                <td width="227">13:00 дан 14:00 гача</td>
                                            </tr>
                                            <tr>
                                                <td width="227">Шанба</td>
                                                <td width="240">Дам олиш куни</td>
                                                <td width="227"> </td>
                                            </tr>
                                            <tr>
                                                <td width="227">Якшанба</td>
                                                <td width="240">Дам олиш куни</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
