{% extends "base.html" %}
{% load static %}

{% block content %}


                    <div class="for-acquaintance">


                        <style>
                            .default-content img {
                                max-width: 100%;
                            }

                            iframe {
                                display: block !important;
                                height: 500px !important;

                            }
                        </style>
                        <h2 class="entry-title">
                            <h3 rel="bookmark">Bo`lim ish kun tartibi</h3>
                        </h2>
                        <div class="entry-meta">
                            <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">{{ kun_tartib_added.created_at|date:"j-m-Y, H:i" }}</span></span>
                            <span class="meta-item blog-category"><i class="icon-folder-open"></i> <a href="{% url 'home' %}">Bosh
                                    sahifa</a> / Bo‘lim ish kun tartibi</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="default-content">
                                    <p>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="227"><b>Ҳафта кунлари</b></td>
                                                <td width="240"><b>Иш вақти</b></td>
                                                <td width="227"><b>Тушлик вақти</b></td>
                                            </tr>
                                            {% for day in kun_tartibi %}
                                            <tr>
                                                <td width="227">{{ day.day }}</td>
                                                <td width="240">{{ day.work_time }}</td>
                                                <td width="227">{{ day.lunch_time }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
