
{% extends "base.html" %}
{% load static %}

{% block content %}



                    <div class="for-acquaintance">

                        <style>
                            .default-content img {
                                max-width: 100%;
                            }

                            iframe {
                                display: block !important;
                                height: 500px !important;

                            }
                        </style>
                        <h2 class="entry-title">
                            <h3 rel="bookmark">Yunusobod tumani maktabgacha va maktab taʼlimi bo‘limi NIZOMI</h3>
                        </h2>
                        <div class="entry-meta">
                            <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">2-06-2023,
                                    13:46</span></span>
                            <span class="meta-item blog-category"><i class="icon-folder-open"></i> <a href="/">Bosh
                                    sahifa</a> / Bo‘lim Nizomi</span>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="default-content">
                                    <p>
                                    <div style="text-align:center;"><b>1-bob.</b><b> Umumiy qoidalar </b></div>
                                    <div style="text-align:justify;">1. Ushbu Nizom tuman maktabgacha va maktab taʼlimi
                                        bo‘limi (bundan buyon matnda bo‘lim deb yuritiladi)ning maqomi, asosiy
                                        vazifalari va funksiyalari, huquqlari va majburiyatlari, shuningdek faoliyatini
                                        tashkil etish tartibini belgilaydi.</div>
                                    <div style="text-align:justify;">2. Bo‘lim fuqarolarning ta’limga doir
                                        konstitutsiyaviy huquqlariga rioya etilishini ta’minlovchi maktabgacha, maktab
                                        va maktabdan tashqari ta’lim sohasida davlat siyosatini Yunusobod tumanida
                                        amalga oshirish uchun mas’ul bo‘lgan vakolatli davlat boshqaruvi organi
                                        hisoblanadi.</div>
                                    <div style="text-align:justify;">Bo‘lim tuman xalq ta’limi va maktabgacha ta’lim
                                        bo‘limlarining huquq va majburiyatlari bo‘yicha huquqiy vorisi hisoblanadi.
                                    </div>
                                    <div style="text-align:justify;">3. Bo‘lim o‘z faoliyatida O‘zbekiston Respublikasi
                                        Maktabgacha va maktab ta’limi vazirligiga (bundan buyon matnda Vazirlik deb
                                        yuritiladi), Toshkent shahar maktabgacha va maktab ta’limi boshqarmasi (bundan
                                        buyon matnda hududiy boshqarma deb yuritiladi)ga bo‘ysunadi va hisobot beradi.
                                    </div>
                                    <div style="text-align:justify;">4. Bo‘lim o‘z faoliyatida O‘zbekiston
                                        Respublikasining Konstitutsiyasi va qonunlariga, O‘zbekiston Respublikasi Oliy
                                        Majlisi palatalarining qarorlariga, O‘zbekiston Respublikasi Prezidentining
                                        farmonlari, qarorlari va farmoyishlariga, O‘zbekiston Respublikasi Vazirlar
                                        Mahkamasining qarorlari va farmoyishlariga, Vazirlik va hududiy boshqarmaning
                                        Hay’at qarorlari va buyruqlariga, tegishli mahalliy hokimlikning qarorlariga,
                                        boshqa normativ-huquqiy hujjatlari, shuningdek, ushbu Nizomga amal qiladi.</div>
                                    <div style="text-align:justify;">5. Bo‘lim o‘z faoliyatini davlat va xo‘jalik
                                        boshqaruvi organlari, huquqni muhofaza qiluvchi organlar, mahalliy davlat
                                        hokimiyati organlari, fuqarolarning o‘zini o‘zi boshqarish organlari, jamoat
                                        birlashmalari va boshqa tashkilotlar bilan o‘zaro hamkorlikda amalga oshiradi.
                                    </div>
                                    <div style="text-align:justify;">6. Bo‘lim yuridik shaxs hisoblanadi, O‘zbekiston
                                        Respublikasining Davlat gerbi tasviri</div>
                                    <div style="text-align:justify;"> va o‘z nomi tushirilgan muhr va blankalarga,
                                        mustaqil balansiga, O‘zbekiston Respublikasi Iqtisodiyot va moliya vazirligi
                                        G‘aznachiligining hududiy bo‘linmalarida shaxsiy g‘azna hisob varag‘iga, bank
                                        hisob raqamiga ega bo‘ladi.</div>
                                    <div style="text-align:justify;">7. Bo’limning rasmiy nomi:</div>
                                    <div style="text-align:justify;">a) davlat tilida:</div>
                                    <div style="text-align:justify;">to’liq nomi – Yunusobod tumani maktabgacha va
                                        maktab ta’limi bo‘limi, qisqartirilgani -YuTMMTB;</div>
                                    <div style="text-align:justify;">b) rus tilida:</div>
                                    <div style="text-align:justify;">to’liq nomi – Юнусабадский районный отдел
                                        дошкольного и школьного образования, qisqartirilgani -ЮРОДШО.</div>
                                    <div style="text-align:justify;">Bo‘limning yuridik manzili (pochta manzili):
                                        Yunusobod tumani, Karim Zaripov-7-uy, Tel.: (+998) 71 212-01-99, faks: (+998) 71
                                        212-01-99, e-mail: yunusobod_txtb@xtv.uz</div><br>
                                    <div style="text-align:center;"><b>2</b><b>-bob. Bo‘limning
                                            t</b><b>uzilmas</b><b>i</b></div>
                                    <div style="text-align:justify;">8. Bo‘lim tuzilmasiga bo‘limning apparati,
                                        maktabgacha ta’lim tashkilotlari, maktab va maktabdan tashqari ta’lim
                                        muassasalari kiradi.</div><br>
                                    <div style="text-align:center;"><b>3</b><b>-bob. Bo‘limning vazifalari va
                                        </b><b>funksiyalari</b></div>
                                    <div style="text-align:justify;"><b>9.</b> Quyidagilar bo‘limning asosiy vazifalari
                                        hisoblanadi:</div>
                                    <div style="text-align:justify;">Vazirlikka va hududiy boshqarmaga yuklangan
                                        vazifalar hamda funksiyalar samarali bajarilishini ta’minlashda ishtirok etish;
                                    </div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari, faoliyatini tashkil etish sohasida
                                        kompleks ijtimoiy-iqtisodiy rivojlantirish bo‘yicha sektorlar bilan o‘zaro
                                        hamkorlik qilish;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari normativ-huquqiy hujjatlarga rioya
                                        qilinishi monitoringini olib borish;</div>
                                    <div style="text-align:justify;">tasarrufidagi davlat va nodavlat maktabgacha ta’lim
                                        tashkilotlari, davlat umumiy o‘rta</div>
                                    <div style="text-align:justify;"> va maktabdan tashqari ta’lim muassasalarini yuqori
                                        malakali, zamonaviy bilimlarga ega bo‘lgan kadrlar bilan ta’minlanishini
                                        muvofiqlashtirish;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari o‘quv-metodik faoliyatini
                                        muvofiqlashtirish va axborot-kommunikatsiya texnologiyalarini joriy etish;</div>
                                    <div style="text-align:justify;">bolalarni maktabga sifatli tayyorlash masalalari
                                        boʻyicha nodavlat taʼlim muassasalari bilan oʻzaro hamkorlik qilish;</div>
                                    <div style="text-align:justify;">nodavlat ta’lim xizmatlarini ko‘rsatuvchi
                                        tadbirkorlarni har tomonlama qo‘llab-quvvatlash;</div>
                                    <div style="text-align:justify;">maktabgacha, maktab va maktabdan tashqari taʼlim
                                        yoʻnalishlarida tegishliligi boʻyicha davlat xizmatlari koʻrsatilishini
                                        taʼminlash;</div>
                                    <div style="text-align:justify;">bolalarni har tomonlama intellektual, axloqiy,
                                        estetik va jismoniy kamol toptirish uchun shart-sharoitlar yaratish;</div>
                                    <div style="text-align:justify;">bolalarni milliy va umuminsoniy qadriyatlar,
                                        insonparvarlik va yuksak ma’naviyat ruhida tarbiyalash, ularning qalbi va ongiga
                                        mustaqillik, insonparvarlik an’analariga sadoqat, milliy o‘zlikni anglash
                                        g‘oyalarini yanada chuqur singdirish, “ommaviy madaniyat” ko‘rinishidagi yot
                                        g‘oyalarga qarshi immunitetni mustahkamlash choralarini ko‘rish;</div>
                                    <div style="text-align:justify;">maktabgacha taʼlim tashkilotlarini oʻquv-metodik,
                                        didaktik materiallar, rivojlantiruvchi oʻyin va oʻyinchoqlar, badiiy adabiyotlar
                                        bilan taʼminlash;</div>
                                    <div style="text-align:justify;">3-7 yoshli bolalarni maktabgacha taʼlim bilan
                                        bosqichma-bosqich toʻliq qamrab olishni taʼminlash;</div>
                                    <div style="text-align:justify;">davlat xususiy-sheriklik asosidagi ta’lim
                                        tashkilotalri faoliyatini tashkil etish yuzasidan tadbirkorlik subyektlarini
                                        jalb etish bo‘yicha ishlarni tashkil etadi.</div>
                                    <div style="text-align:justify;">pedagoglarni kasbiy faoliyatiga bog‘liq bo‘lmagan
                                        turli xil ishlarga jalb qilinishiga yo‘l qo‘yilmasligini ta’minlash;</div>
                                    <div style="text-align:justify;">idoraviy mansubligidan va mulkchilik shaklidan
                                        qat’iy nazar ta’lim muassasalarida davlat ta’lim standartlariga va maktabdan
                                        tashqari ta’limga qo‘yiladigan davlat talablariga muvofiq tasarrufidagi ta’lim
                                        muassasalari faoliyatini muvofiqlashtirish;</div>
                                    <div style="text-align:justify;">maktab taʼlimi tizimida kasb-hunarga yoʻnaltirish
                                        va psixologik-pedagogik xizmat koʻrsatish, ilgʻor tajribalarga asoslangan
                                        kasb-hunarga yoʻnaltirishning zamonaviy shakl</div>
                                    <div style="text-align:justify;"> va uslublarini joriy etish;</div>
                                    <div style="text-align:justify;">oʻquvchi-yoshlarning psixologik salomatligini
                                        muhofaza qilish, ularning barqaror ijtimoiy va intellektual rivojlanishini
                                        taʼminlash;</div>
                                    <div style="text-align:justify;">o‘quvchilarni ijtimoiy reabilitatsiya qilish, turli
                                        xil zoʻravonlik koʻrinishlarining oldini olish, suitsidal holatlarga moyilligi
                                        boʻlgan oʻquvchilarni barvaqt aniqlash va ularga ijtimoiy-psixologik yordam
                                        koʻrsatish;</div>
                                    <div style="text-align:justify;">maktabgacha va maktab taʼlimi tizimida psixologik
                                        xizmatni takomillashtirish, psixologlarni metodik qoʻllab-quvvatlash va
                                        professional rivojlantirish, xodimlarining pedagogik faoliyatga shaxsiy
                                        muvofiqligini oʻrganish;</div>
                                    <div style="text-align:justify;">maktabgacha va maktab taʼlimi tizimida inklyuziv
                                        taʼlim uchun shart-sharoitlar yaratish, taʼlim oluvchilar uchun
                                        psixologik-pedagogik qoʻllab-quvvatlash; </div>
                                    <div style="text-align:justify;">umumiy oʻrta taʼlim muassasalari qoshida logopediya
                                        shoxobchalarini tashkil etish, ulardagi oʻqituvchi-logopedlarning faoliyatini
                                        muvofiqlashtirish, monitoringini olib borish</div>
                                    <div style="text-align:justify;"> va metodik rahbarlikni amalga oshirish;</div>
                                    <div style="text-align:justify;">inklyuziv taʼlimning metodik taʼminotini
                                        (dasturlar, rahbar, pedagog va mutaxassislarga metodik tavsiyalar va
                                        boshqalarni) ishlab chiqishda ishtirok etish hamda takomillashtirib borish
                                        boʻyicha takliflar berish;</div>
                                    <div style="text-align:justify;">inklyuziv sharoitlarda taʼlim oluvchilarni
                                        ijtimoiy-psixologik qoʻllab-quvvatlash ishlarini tashkil qilish;</div>
                                    <div style="text-align:justify;">inklyuziv taʼlim tizimi joriy qilingan umumtaʼlim
                                        muassasalari, ularda taʼlim olayotgan oʻquvchilar toʻgʻrisida maʼlumotlar
                                        bazasini yaratish va uni doimiy yangilab borish;</div>
                                    <div style="text-align:justify;">inklyuziv taʼlimni rivojlantirish masalalari
                                        boʻyicha oʻquv-seminarlarni tashkil etish;</div>
                                    <div style="text-align:justify;">tuman darajasidagi byudjetdan moliyalashtiriladigan
                                        maktabgacha ta’lim tashkilotlari, maktab va maktabdan tashqari ta’lim
                                        muassasalari xarajatlarini moliyalashtirishni, ularda buxgalteriya hisobi va
                                        hisoboti yuritilishini tashkil etish;</div>
                                    <div style="text-align:justify;">markazlashtirilgan moliya-buxgalteriya xizmati
                                        tomonidan qamrab olingan maktabgacha va umumta’lim ta’lim tashkilotlarining
                                        xarajatlar smetalari, shtatlar jadvallari va tarifikatsiya ro‘yxatlarini o‘z
                                        vaqtida shakllantirilishini, tasdiqlanishini hamda zarur hollarda ularga
                                        o‘zgartirish va qo‘shimchalar kiritilishini ta’minlash;</div>
                                    <div style="text-align:justify;">markazlashtirilgan moliya-buxgalteriya xizmati
                                        tomonidan qamrab olingan umumta’lim va maktabgacha ta’lim tashkilotlari
                                        xodimlariga ish haqi va unga tenglashtirilgan to‘lovlar to‘lash, shuningdek,
                                        homiladorlik va tug‘ish bo‘yicha nafaqa talabnomalarni o‘z vaqtida taqdim etish
                                        va to‘lash.</div>
                                    <div style="text-align:justify;"><b>10.</b> Bo‘lim quyidagi funksiyalarni amalga
                                        oshiradi:</div>
                                    <div style="text-align:justify;">bo‘lim va uning xodimlari faoliyatini tashkil
                                        etadi;</div>
                                    <div style="text-align:justify;">idoraviy mansub tashkilotlar va muassasalar
                                        tomonidan O‘zbekiston Respublikasi qonunlari, O‘zbekiston Respublikasi Oliy
                                        Majlisi palatalarining qarorlari va topshiriqlari, O‘zbekiston Respublikasi
                                        Prezidentining farmonlari, qarorlari va farmoyishlari va topshiriqlari,
                                        O‘zbekiston Respublikasi Vazirlar Mahkamasining qaror va farmoyishlari,
                                        topshiriqlari, Vazirlik va hududiy boshqarma Hay’at qarorlari, buyruqlari hamda
                                        boshqa topshiriqlari va ko‘rsatmalarining bajarilishini muntazam nazorat qiladi;
                                    </div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari faoliyatiga rahbarlik qiladi,
                                        muvofiqlashtiradi va nazorat qiladi, ta’lim-tarbiya jarayoniga
                                        muvofiqlashtiradi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari nodavlat ta’lim xizmatlari ko‘rsatish
                                        faoliyatini amalga oshiradigan yuridik shaxslar bilan o‘zaro hamkorlik qiladi;
                                    </div>
                                    <div style="text-align:justify;">nodavlat ta’lim xizmatlari ko‘rsatish faoliyatini
                                        amalga oshiradigan yuridik va yakka tartibdagi tadbirkorlarni
                                        qo‘llab-quvvatlashni amalga oshiradi hamda maktabgacha ta’lim tashkilotlari,
                                        maktab va maktabdan tashqari ta’lim muassasalari ta’lim berishning muqobil
                                        shakllarini rivojlantiradi;</div>
                                    <div style="text-align:justify;">tuman darajasidagi byudjetdan moliyalashtiriladigan
                                        maktabgacha ta’lim tashkilotlari, maktab va maktabdan tashqari ta’lim
                                        muassasalari xarajatlarining buxgalteriya hisobi va hisoboti yuritilishini
                                        tashkil etadi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari va maktablarda
                                        sog‘lom ovqatlanishni tashkil etadi hamda oziq-ovqat zaxirasi bo‘yicha
                                        talablarni shakllantiradi, ovqatlantirish me’yorlari asosida ovqatlantirishni
                                        tashkil etishni monitoring qiladi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari, davlat ta’lim standartlari va davlat
                                        talablarini bajarish monitoringini amalga oshiradi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari moddiy-texnik ta’minlashni tashkil etadi;
                                    </div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalarining binolari va inshootlaridan
                                        foydalanish ishlari monitoringini olib boradi va muvofiqlashtiradi;</div>
                                    <div style="text-align:justify;">jismoniy va yuridik shaxslarning murojaatlari bilan
                                        ishlashni tashkil etadi;</div>
                                    <div style="text-align:justify;">bo‘lim vakolatiga tegishli bo‘lgan operativ,
                                        tashkiliy, kadrlar, moliya, ishlab chiqarish-xo‘jalik masalalari va boshqa
                                        masalalar bo‘yicha buyruq qabul qiladi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari</div>
                                    <div style="text-align:justify;">ish amaliyotiga davlat ta’lim standartlari, ilmiy
                                        yutuqlar va ilg‘or pedagogik tajribalarning tatbiq etilishiga sharoit yaratadi;
                                    </div>
                                    <div style="text-align:justify;">ilg‘or pedagoglar, maktabgacha ta’lim
                                        tashkilotlari, maktab va maktabdan tashqari ta’lim muassasalarining ijobiy ish
                                        tajribasini o‘rganadi hamda umumlashtiradi, ta’lim muassasalaridagi
                                        o‘quv-metodik va tarbiyaviy ishlarni amalga oshirish davomida uni tumanda
                                        ommalashtiradi hamda shahar, Respublika miqyosida ommalashtirishga tavsiya
                                        etadi;</div>
                                    <div style="text-align:justify;">ta’til davrlarida bolalarni mazmunli dam
                                        olishlarini tashkil etadi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalarini darsliklar, o‘quv dasturlari va o‘quv
                                        rejalari, o‘quv-ko‘rgazmali qo‘llanmalar va o‘quv uskunalari, ta’limning texnik
                                        vositalari, qo‘llanma-metodik adabiyotlar bilan ta’minlash ishlarini amalga
                                        oshiradi;</div>
                                    <div style="text-align:justify;">maktablarda qat’iy nazoratdagi o‘quv hujjatlarining
                                        to‘g‘ri yuritilishini, bitiruvchilarga shahodatnoma, “oltin” va “kumush”
                                        medallar berilishini nazorat qiladi;</div>
                                    <div style="text-align:justify;">maktab bitiruvchilarini kollejlar va texnikumlar,
                                        oliy o‘quv yurtlariga o‘qishga kirishi, 9-sinf o‘quvchilarining istaklariga
                                        ko‘ra umumiy o‘rta ta’lim muassasalari 10-sinfida yoki akademik litseylar,
                                        kasb-hunar maktablarida ta’lim olishini davom ettirishi bo‘yicha
                                        targ‘ibot-tashviqot ishlarini tashkil etadi hamda natijadorligini monitoring
                                        qiladi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari va maktabga qamrov
                                        ko‘rsatkichlarining loyiha bo‘yicha quvvati bilan to‘ldirilganlik koeffitsiyenti
                                        o‘rtasidagi farqni kamaytirish choralarini ko‘radi;</div>
                                    <div style="text-align:justify;">umumiy o‘rta ta’lim hajmida, tibbiy ko‘rsatmalar
                                        asosida bolalarning uyda yakka tartibda ta’lim-tarbiya olishiga sharoit yaratish
                                        ustidan nazoratni amalga oshiradi;</div>
                                    <div style="text-align:justify;">ta’lim muassasalarining ota-onalar, fuqarolarning
                                        o‘zini-o‘zi boshqarish organlari, jamoat tashkilotlari, jamg‘armalar bilan
                                        ijodiy faol, davlat mustaqilligi g‘oyalariga sadoqatli va jamiyat taraqqiyotiga
                                        aniq hissa qo‘shishga layoqatli shaxsni kamol toptirish bo‘yicha o‘zaro yaqin
                                        hamkorligini tashkil etilishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">bolalarni boshlang‘ich ta’limga tayyorlash
                                        masalalarida hamkorlikni yo‘lga qo‘yadi;</div>
                                    <div style="text-align:justify;">ta’lim jarayoniga axborot-kommunikatsiya
                                        texnologiyalarini joriy etilishi va ulardan samarali foydalanishni hamda pedagog
                                        xodimlarni shu sohadagi malakasini oshirilishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">o‘quvchilar bilan maktabdan tashqari bo‘sh
                                        vaqtlarini mazmunli tashkil etish choralarini ko‘rish;</div>
                                    <div style="text-align:justify;">o‘quvchilarning davomatini to‘liq ta’minlash
                                        yuzasidan aniq choralar ko‘rish va nazorat qilish, bu borada ta’lim
                                        muassasalarining, fuqarolarning o‘zini o‘zi boshqarish organlari</div>
                                    <div style="text-align:justify;">va fuqarolik jamiyatining boshqa institutlari,
                                        huquqni muhofaza qiluvchi organlar va ota-onalarning o‘zaro hamkorlikdagi
                                        ishlarini tashkil etadi va muvofiqlashtiradi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari, malakali mutaxassislar bilan ta’minlash
                                        bo‘yicha chora-tadbirlar qabul qiladi;</div>
                                    <div style="text-align:justify;">pedagog xodimlarni mehnatdagi yuqori
                                        ko‘rsatkichlari, o‘quvchi yoshlarni o‘qitish va tarbiyalashdagi faol ishtiroki
                                        uchun davlat va tarmoq mukofotlariga belgilangan tartibda tavsiya etadi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari qurilish-ta’mirlash ishlari olib
                                        borilishi va ularning zarur jihozlar bilan ta’minlanishi, ta’lim
                                        muassasalarining kuzgi-qishki mavsumga tayyorgarligi ustidan nazoratni amalga
                                        oshiradi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari tomonidan zamonaviy moddiy-texnika
                                        bazasi, shu jumladan o‘quv-laboratoriya asbob-uskunalari, kompyuter texnikasi,
                                        mebellar, sport inventarlari va jihozlaridan samarali foydalanilishini nazorat
                                        qiladi;</div>
                                    <div style="text-align:justify;">Respublika va mahalliy byudjet hisobidan
                                        moliyalashtiriladigan maktabgacha ta’lim tashkilotlari, maktab va maktabdan
                                        tashqari ta’lim muassasalari bino va inshootlarining mavjud holati to‘g‘risidagi
                                        bazani shakllantirish, qurish, rekonstruksiya qilish, mukammal va joriy
                                        ta’mirlanishi bo‘yicha har yili Manzilli dasturlarni shakllantirish uchun
                                        tegishli takliflarni hududiy boshqarmaga taqdim etadi;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari mavjud qozonlar bo‘yicha bazani
                                        shakllantirish, samarali foydalanishni hisobga olib talabnomalar tayyorlash,
                                        shuningdek mavjud bazadan kelib chiqib, jihozlash va to‘ldirib jihozlash
                                        manzilli ro‘yxatlari bo‘yicha takliflar beradi, manzilli ro‘yxatlarni o‘rganadi
                                        va shakllantiradi, ularning monitoringini yuritadi va hududiy boshqarmaga taqdim
                                        etadi;</div>
                                    <div style="text-align:justify;">talab bo‘yicha investitsiya va boshqa dasturlarga
                                        kiritish uchun maktabgacha ta’lim tashkilotlari, maktab va maktabdan tashqari
                                        ta’lim muassasalari ob’ektlari bo‘yicha ma’lumotlarni hududiy boshqarmaga taqdim
                                        etadi;</div>
                                    <div style="text-align:justify;">byudjet tashkilotlarining sanitariya normalari va
                                        qoidalariga mosligini ko‘rish maqsadida tizimli ravishda ularni doimiy
                                        o‘rganish, kuz-qish mavsumida bino va inshootlaridan to‘g‘ri foydalanish uchun
                                        kerakli shart-sharoitlarni ta’minlash choralarini ko‘radi;</div>
                                    <div style="text-align:justify;">bo‘limning va markazlashgan buxgalteriya tomonidan
                                        xizmat ko‘rsatiladigan ta’lim muassasalarining shtat jadvallarini va xarajatlar
                                        smetalarini byudjetdan ajratiladigan mablag‘lar doirasida va amaldagi qonun
                                        hujjatlariga muvofiq shakllantiradi va tasdiqlaydi;</div>
                                    <div style="text-align:justify;">har bir muassasaning pul mablag‘lari, hisob-kitob
                                        va moddiy qimmatliklar, shuningdek, boshqa aktivlar va majburiyatlar
                                        inventarizatsiyasini o‘tkazadi, inventarizatsiya natijalari to‘g‘ri
                                        rasmiylashtirilishi hamda ularning buxgalteriya hisobida aks ettirilishini
                                        ta’minlaydi;</div>
                                    <div style="text-align:justify;">buxgalteriya hujjatlari, hisob registrlari,
                                        xarajatlar smetasi va ularning ilovalari, shuningdek, byudjet tashkilotlari
                                        moliyaviy faoliyatiga oid boshqa hujjatlar hisobini har bir muassasa kesimida
                                        alohida yuritilishi va saqlanishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">bo‘lim apparati va markazlashgan mablag‘lari
                                        xarajatlari bo‘yicha to‘lovlarni amalga oshirish, bo‘limning moddiy boyliklari,
                                        xodimlarning mehnatiga haq to‘lash va bo‘lim faoliyatiga doir boshqa xizmatlar
                                        bo‘yicha amaldagi qonunchilik talablariga asosan hisob-kitoblarni amalga
                                        oshiradi;</div>
                                    <div style="text-align:justify;">markazlashtirilgan moliya-buxgalteriya xizmati
                                        tomonidan qamrab olingan umumta’lim tashkilotlarining sinf komplektlarini
                                        amaldagi qonunchilikda belgilangan me’yorlar asosida o‘quvchilar bilan
                                        to‘ldirilishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">markazlashtirilgan moliya-buxgalteriya xizmati
                                        tomonidan qamrab olingan umumta’lim va maktabgacha ta’lim tashkilotlarining
                                        xarajatlar smetalari, shtatlar jadvallari va tarifikatsiya ro‘yxatlarini o‘z
                                        vaqtida shakllantirilishini, tasdiqlanishini hamda zarur hollarda ularga
                                        o‘zgartirish va qo‘shimchalar kiritilishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">markazlashtirilgan moliya-buxgalteriya xizmati
                                        tomonidan qamrab olingan umumta’lim va maktabgacha ta’lim tashkilotlari
                                        xodimlariga ish haqi va unga tenglashtirilgan to‘lovlar to‘lanishini,
                                        shuningdek, homiladorlik va tug‘ish bo‘yicha nafaqa talabnomalarni o‘z vaqtida
                                        taqdim etilishini va to‘lanishini ta’minlaydi;</div>
                                    <div style="text-align:justify;">bo‘lim tasarrufidagi tashkilot va muassasalarda
                                        xizmat ko‘rsatish va servis sohasini rivojlantirish ishlariga umumiy rahbarlik
                                        qiladi, muassasalardan ma’lumotlarni yig‘ib umumlashtiradi va hududiy
                                        boshqarmaga taqdim etadi;</div>
                                    <div style="text-align:justify;">buxgalteriya hisobi va hisobotini amaldagi
                                        normativ-huquqiy hujjatlarga amal qilgan holda yuritish, shuningdek hisob
                                        ishlarini zamonaviy texnik vositalar va axborot texnologiyalaridan foydalangan
                                        holda tashkil etadi;</div>
                                    <div style="text-align:justify;">tizimda odob-axloq qoidalariga rioya qilinishini
                                        ta’minlash, korrupsiyaga qarshi kurash, aniqlangan qonunbuzilishi holatlarini,
                                        ularni sodir etishga imkon yaratuvchi sabablar va shart-sharoitlarni bartaraf
                                        etish, oldini olish choralarini ko‘radi.</div>
                                    <div style="text-align:justify;">Bo‘lim qonun hujjatlariga muvofiq boshqa
                                        funksiyalarni ham bajarishi mumkin.</div><br>
                                    <div style="text-align:center;"><b>4-bob. Bo‘limning huquqlari va
                                        </b><b>majburiyatlari</b></div>
                                    <div style="text-align:justify;"><b>11.</b> Bo‘lim quyidagi huquqlarga ega:</div>
                                    <div style="text-align:justify;">davlat va xo‘jalik boshqaruvi organlari, mahalliy
                                        davlat hokimiyati organlari tuman bo‘linmalaridan o‘z vakolatiga kiradigan
                                        masalalarni hal qilish uchun zarur bo‘lgan axborotni belgilangan tartibda so‘rab
                                        olish;</div>
                                    <div style="text-align:justify;">o‘z vakolati doirasida takliflarni ko‘rib chiqish
                                        uchun tegishli hududiy boshqarma va mahalliy hokimliklarga kiritish;</div>
                                    <div style="text-align:justify;">maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari faoliyatiga rahbarlik qilish;</div>
                                    <div style="text-align:justify;">o‘z vakolatlari doirasida seminarlar, ko‘rgazmalar
                                        o‘tkazish, shuningdek, boshqa tashkilotlar tomonidan o‘tkaziladigan shunday
                                        tadbirlarda ishtirok etish;</div>
                                    <div style="text-align:justify;">o‘z faoliyatini keng yoritish maqsadida ijtimoiy
                                        tarmoqlarda o‘z sahifalarini yaratish;</div>
                                    <div style="text-align:justify;">hay’at yig‘ilishlarida bo‘lim vakolatiga kiruvchi
                                        masalalar bo‘yicha maktabgacha, maktab va maktabdan tashqari ta’lim muassasalari
                                        rahbarlarining hisobotlarini eshitish.</div>
                                    <div style="text-align:justify;">Bo‘lim qonun hujjatlariga muvofiq boshqa huquqlarga
                                        ham ega bo‘lishi mumkin.</div>
                                    <div style="text-align:justify;"><b>12.</b> Bo‘lim majburiyatlari:</div>
                                    <div style="text-align:justify;">Bo‘limga yuklatilgan vazifalar va funksiyalarning
                                        sifatli va o‘z vaqtida bajarilishini ta’minlash;</div>
                                    <div style="text-align:justify;">hududiy boshqarmaga kiritiladigan hujjatlar
                                        loyihalari va takliflar, shuningdek, bo‘lim tomonidan qabul qilinadigan
                                        qarorlarni ijrosini ta’minlash;</div>
                                    <div style="text-align:justify;">maktabgacha va maktab ta’limi sohasida dolzarb
                                        muammolarni, aholini qiynayotgan masalalarni aniqlash hamda ularni bartaraf
                                        etish;</div>
                                    <div style="text-align:justify;">tuman maktabgacha va maktab ta’limi sohasini
                                        rivojlantirish, shuningdek, maktabgacha ta’lim tashkilotlari, maktab va
                                        maktabdan tashqari ta’lim muassasalari hududni ijtimoiy-iqtisodiy rivojlantirish
                                        va muammoli masasalarni hal qilish bo‘yicha dasturlar, “yo‘l xaritalari” va
                                        boshqa hujjatlarda belgilangan topshiriqlarning tegishliligi bo‘yicha samarali
                                        amalga oshirilishi uchun javob beradi.</div><br>
                                    <div style="text-align:center;"><b>5</b><b>-bob. Bo‘lim faoliyatini tashkil
                                            etish</b></div>
                                    <div style="text-align:justify;"><b>1</b><b>3</b><b>.</b> Bo‘limga hududiy boshqarma
                                        boshlig‘ining tavsiyasiga ko‘ra O‘zbekiston Respublikasi maktabgacha va maktab
                                        ta’limi vaziri tomonidan lavozimga tayinlanadigan va lavozimdan ozod etiladigan
                                        boshliq rahbarlik qiladi.</div>
                                    <div style="text-align:justify;">Bo‘lim boshlig‘i bo‘lmagan davrda uning vakolatlari
                                        hududiy boshqarma boshlig‘i buyrug‘i bilan tayinlangan mas’ul shaxsga
                                        yuklatiladi.</div>
                                    <div style="text-align:justify;"><b>1</b><b>4</b><b>.</b> Bo‘lim boshlig’i idoraviy
                                        mansub ta’lim muassasalarining nizomini o‘rnatilgan tartibda tasdiqlaydi.</div>
                                    <div style="text-align:justify;"><b>1</b><b>5</b><b>.</b> Bo‘limning shtat jadvali
                                        o‘rnatilgan tartibda bo‘lim boshlig‘i tomonidan tasdiqlanadi.</div>
                                    <div style="text-align:justify;"><b>16</b><b>.</b> Bo‘limning tarkibiy bo‘linmalari
                                        hududiy boshqarmaning tarkibiy bo‘linmalari bilan hamkorlik qiladi, jumladan:
                                    </div>
                                    <div style="text-align:justify;">hududiy boshqarma rahbariyati topshiriqlari ijrosi
                                        haqida axborot beradi;</div>
                                    <div style="text-align:justify;">maktabgacha va maktab ta’limi sohasida qonun
                                        hujjatlarini amalga oshirish bo‘yicha faoliyat natijalari to‘g‘risida hududiy
                                        boshqarmaga axborot taqdim etadi;</div>
                                    <div style="text-align:justify;">ularning faoliyatini o‘rganish natijasida
                                        aniqlangan ishdagi kamchiliklar va qoidabuzarliklarni bartaraf etish natijalari
                                        to‘g‘risida ma’lumot beradi;</div>
                                    <div style="text-align:justify;">o‘z faoliyati natijalari to‘g‘risidagi hisobotlarni
                                        belgilangan tartibda va muddatlarda hududiy boshqarmaga taqdim etadi;</div>
                                    <div style="text-align:justify;">maktabgacha va maktab ta’limi muammolarini hal
                                        qilishga qaratilgan takliflarni hududiy boshqarmaga taqdim etadi;</div>
                                    <div style="text-align:justify;">kompleks ijtimoiy-iqtisodiy rivojlantirish bo‘yicha
                                        sektorlar bilan o‘zaro hamkorlik natijalari to‘g‘risida axborot beradi;</div>
                                    <div style="text-align:justify;">vakolatli organlar tomonidan o‘tkazilgan o‘z
                                        faoliyatini tekshirish natijalari to‘g‘risida xabar beradi.</div>
                                    <div style="text-align:justify;"><b>17</b><b>.</b> Shtat jadvaliga muvofiq
                                        belgilangan xodimlar idoraviy mansub tashkilotlar bilan o‘z faoliyati
                                        yo‘nalishlari bo‘yicha hamkorlik qilib:</div>
                                    <div style="text-align:justify;">- topshiriqlarni idoraviy mansub tashkilotlarga
                                        yetkazadi hamda ularning bajarilishini nazorat qiladi;</div>
                                    <div style="text-align:justify;">- idoraviy mansub tashkilotlarga tarkibiy
                                        bo‘linmaning bevosita faoliyati masalalari bo‘yicha so‘rovlar yuboradi hamda
                                        ularning ijro etilishini nazorat qiladi;</div>
                                    <div style="text-align:justify;">- idoraviy mansub tashkilotlar faoliyatini
                                        o‘rganadi, umumlashtiradi, uni takomillashtirishga qaratilgan chora-tadbirlarni
                                        ishlab chiqadi;</div>
                                    <div style="text-align:justify;">- idoraviy mansub tashkilotlar faoliyatini tashkil
                                        etish va faoliyati natijalari to‘g‘risida hisobot va axborot materiallari,
                                        statistik va boshqa ma’lumotlar o‘rganilishini tashkil etadi;</div>
                                    <div style="text-align:justify;">- idoraviy mansub tashkilotlar ish rejalarini
                                        tahlil qiladi, ularning faoliyatini rejalashtirishni takomillashtirishga doir
                                        chora-tadbirlar ko‘radi;</div>
                                    <div style="text-align:justify;">- idoraviy mansub tashkilotlardan tushgan
                                        takliflarni ko‘rib chiqadi, yuqori turuvchi idoralar vakolatiga kiradigan
                                        masalalar yuzasidan takliflarni bo‘lim boshlig‘iga kiritadi.</div>
                                    <div style="text-align:justify;"><b>18</b><b>.</b> Bo‘lim o‘z vazifalari va
                                        funksiyalarini amalga oshirishda o‘z vakolati doirasida boshqa davlat va
                                        xo‘jalik boshqaruvi organlari, mahalliy davlat hokimiyati organlari hamda jamoat
                                        tashkilotlari bilan hamkorlik qiladi.</div>
                                    <div style="text-align:justify;"><b>19</b><b>.</b> Bo‘lim tegishli hududlarni
                                        ijtimoiy-iqtisodiy rivojlantirish bo‘yicha “yo‘l xaritalari”ni ishlab chiqishda
                                        va amalga oshirishda kompleks ijtimoiy-iqtisodiy rivojlantirish bo‘yicha
                                        sektorlar bilan o‘zaro yaqin hamkorlik qiladi.</div>
                                    <div style="text-align:justify;"><b> </b></div>
                                    <div style="text-align:center;"><b>6</b><b>-bob. Bo‘limni moliyalashtirish va
                                            moddiy-texnik ta’minlash, uning xodimlari mehnatiga haq to‘lash va ularni
                                            moddiy rag‘batlantirish</b></div>
                                    <div style="text-align:justify;"><b>20</b><b>.</b> Bo‘limning moddiy-texnik
                                        ta’minoti va xodimlari mehnatiga haq to‘lash O‘zbekiston Respublikasi Davlat
                                        byudjeti mablag‘lari va qonun hujjatlarida taqiqlanmagan boshqa manbalar
                                        hisobiga moliyalashtiriladi.</div>
                                    <div style="text-align:justify;"><b>21</b><b>.</b> Bo‘lim faoliyati davomida
                                        xodimlarni moddiy va ma’naviy rag‘batlantirish hamda ijtimoiy muhofaza qilishni
                                        amaldagi qonun hujjatlariga muvofiq amalga oshiradi. </div>
                                    <div style="text-align:justify;"><b>22</b><b>.</b> Bo‘lim xodimlarining ish haqi
                                        lavozim maoshi, mukofotlar, qo‘shimcha haqlar, ustamalar, moddiy
                                        rag‘batlantirish, moddiy yordam va qonun hujjatlarida nazarda tutilgan boshqa
                                        to‘lovlardan iborat bo‘ladi.</div>
                                    <div style="text-align:justify;"><b>23.</b> Bo‘lim xodimlariga oylik ustamalar va
                                        moddiy rag‘batlantirishlar tarzidagi lavozim maoshlariga qo‘shimcha to‘lovlar
                                        amaldagi normativ-huquqiy hujjatlarga muvofiq to‘lanadi.</div>
                                    <div style="text-align:justify;"> </div>
                                    <div style="text-align:center;"><b>7</b><b>-bob. </b><b>Yakunlovchi qoida</b></div>
                                    <div style="text-align:justify;"><b>24</b><b>.</b> Bo‘limni qayta tashkil etish va
                                        tugatish qonun hujjatlarida belgilangan tartibda amalga oshiriladi.</div>
                                    </p>
                                </div>
                            </div>
                        </div>



                    </div>







    {% endblock %}

