{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="for-acquaintance">

                        <style>
                            .default-content img {
                                max-width: 100%;
                            }

                            iframe {
                                display: block !important;
                                height: 500px !important;

                            }
                        </style>
                        <h2 class="entry-title">
                            <h3 rel="bookmark">Qabul kunlari</h3>
                        </h2>
                        <div class="entry-meta">
                            <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">{{ qabul_kuni.date|date:"j-m-Y, H:i" }}</span></span>
                            <span class="meta-item blog-category"><i class="icon-folder-open"></i> <a href="/">Bosh
                                    sahifa</a> / Rahbariyat qabul kunlari </span>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="default-content">
                                    <p>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="227"><b>Hafta kunlari</b></td>
                                                <td width="240"><b>Qabul vaqti</b></td>
                                                <td width="227"><b>Tushlik vaqti</b></td>
                                            </tr>
                                            <tr>
                                                <td width="227">Seshanba<br></td>
                                                <td width="240">14:00 dan 17:00 gacha<br></td>
                                                <td width="227">13:00 dan 14:00 gacha<br></td>
                                            </tr>
                                            <tr>
                                                <td width="227">Juma<br></td>
                                                <td width="240">09:00 dan 12:00 gacha<br></td>
                                                <td width="227">13:00 dan 14:00 gacha<br></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </p>
                                </div>
                            </div>
                        </div>
    </div>
{% endblock %}
