
{% extends "base.html" %}
{% load static %}

{% block content %}


                    <div class="for-acquaintance">



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="/templates/new_maktab/dleimages/no_image.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">30.11.2024 / 03:28.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/xalq-talimi-bolimi/bo039sh-ish-o039rinlari/142-bosh-ish-orinlari.html">Bo&#039;sh
                                    ish o&#039;rinlari</a>
                                <p>Nomzod haqidagi ma’lumotlar belgilangan tartibda o‘rganib chiqilgach, ma’lumotlariga
                                    ko‘ra talablarga javob beradigan nomzod suhbatga taklif etiladi. Tegishli rahbarlar
                                    bilan suhbatdan muvaffaqiyatli o‘tgan nomzod bo‘lim rahbari bilan shaxsan...</p>
                            </div>
                        </div>


                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="/uploads/posts/2024-11/1730827690_photo_2024-11-05_10-32-32.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">04.11.2024 / 06:00.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title" href="#">Yunusobod tumani maktabgacha va maktab ta’limi
                                    bo‘limi mudiri</a>
                                <p>Kirgizbayev Suxrobbek Mukimjanovich<br><b>Telefon: </b>0 371
                                    212-01-98<br><b>Faks:</b> 0 371 212-01-98<br><b>E-mail:</b>
                                    yunsobodtalim@gmail.com<br><b>Veb-sayt:</b> www.yummtb.uz</p>
                                <button ot="144" class="btn btn-primary">tarjimai xol</button>
                                <button to="144" class="btn btn-primary">Majburyatlari</button>
                                <div id="tarjima_144" style="display:none">1981 yil, Andijon shahri<br>Ma’lumoti oliy.
                                    2002 y. O‘zbekiston milliy universiteti (bakalavr)<br>2004 y. O‘zbekiston milliy
                                    universiteti (magistr)ni tamomlagan.<br>Ma’lumoti bo‘yicha mutaxassisligi: tarix,
                                    etnologiya<div style="text-align:center;"><b><br>MEHNAT FAOLIYАTI</b></div><br>
                                    <div style="text-align:justify;">1998-2004 yy. - O‘zbekiston milliy universiteti
                                        talabasi</div>
                                    <div style="text-align:justify;">2004-2007 yy. - Toshkent davlat yuridik instituti
                                        qoshidagi akademik litsey tarix fani o‘qituvchisi</div>
                                    <div style="text-align:justify;">2006-2008 yy. - Toshkent davlat texnika
                                        universiteti “O‘zbekiston tarixi va huquq asoslari” kafedrasi kunduzgi bo‘lim
                                        aspiranti</div>
                                    <div style="text-align:justify;">2009-2010 yy. - “Kamolot” yoshlar ijtimoiy harakati
                                        Toshkent shahar bo‘limi Kengashi“Korxona, tashkilot va mahallardagi yoshlar
                                        bilan ishlash”bo‘lim boshlig‘i</div>
                                    <div style="text-align:justify;">2010-2012 yy. - "Kamolot" yoshlar ijtimoiy harakati
                                        Yashnobod tuman bo‘limi Kengashi raisi</div>
                                    <div style="text-align:justify;">2012-2014 yy. - Toshkent shahar o‘rta maxsus
                                        kasb-hunar ta’limi boshqarmasi o‘rta maxsus, kasb-hunar ta’limi muassasalari
                                        bitiruvchilarini ishga joylashtirish ta’minlash yetakchi mutaxassisi</div>
                                    <div style="text-align:justify;">2014-2017 yy. - Toshkent shahar o‘rta maxsus
                                        kasb-hunar ta’limi boshqarmasi “Rahbar va pedagog kadrlarni tanlash va ularning
                                        malakasini oshirish” sho’basi bosh mutaxassisi</div>
                                    <div style="text-align:justify;">2017-2017 yy. - Toshkent shahar xalq ta’limi bosh
                                        boshqarmasi musiqa va san’at maktablarini muvofiqlashtirish sho’basi bosh
                                        mutaxassisi</div>
                                    <div style="text-align:justify;">2017-2020 yy. - Toshkent shahar xalq ta’limi bosh
                                        boshqarmasi bo‘lim boshlig‘i - Bosh boshqarma boshlig‘i o‘rinbosari </div>
                                    <div style="text-align:justify;">2020-2022 yy. - Toshkent shahar xalq ta’limi bosh
                                        boshqarmasi boshlig‘i o‘rinbosari </div>
                                    <div style="text-align:justify;">2022-2022 yy. - Xalq ta’limi vazirligi, Ta’lim
                                        muassasalarida ma’naviy-ma’rifiy faoliyatini muvofiqlashtirish boshqarmasi
                                        boshlig‘i o‘rinbosari</div>
                                    <div style="text-align:justify;">2022-2023 yy. - Xalq ta’limi vazirligi Maktabdan
                                        tashqari ta’lim, sport va turizmni tashkil etish boshqarmasi boshlig‘i
                                        vazifasini vaqtincha bajaruvchi</div>
                                    <div style="text-align:justify;">2023-2023 yy. - Maktabgacha va maktab ta’limi
                                        vazirligining Pedagog kadrlar salohiyatini oshirish </div>
                                    <div style="text-align:justify;">va ularni tayyorlaydigan muassasalar faoliyatini
                                        muvofiqlashtirish boshqarmasi </div>
                                    <div style="text-align:justify;">bosh mutaxassisi vazifasini vaqtincha bajaruvchi
                                    </div>
                                    <div style="text-align:justify;">2023-2024 yy- Maktabgacha va maktab ta’limi
                                        vazirligining Pedagog kadrlar salohiyatini oshirish </div>
                                    <div style="text-align:justify;">va ularni tayyorlaydigan muassasalar faoliyatini
                                        muvofiqlashtirish boshqarmasi </div>
                                    <div style="text-align:justify;">bosh mutaxassisi </div>
                                    <div style="text-align:justify;">2024-h/v - Yunusobod tumani maktabgacha va maktab
                                        ta’limi bo‘lim mudiri</div>
                                </div>
                                <div id="info_144" style="display:none"></div>

                            </div>
                        </div>



                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img src="/templates/new_maktab/dleimages/no_image.jpg">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">01.11.2024 / 10:01.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title" href="#">Yunusobod tumani maktabgacha va maktab taʼlimi
                                    bo‘limi mudiri o`rinbosari</a>
                                <p><b>А</b><b>xmedova Nigora Akramovna</b><br><b>Telefon:</b> 0 371
                                    212-01-98<br><b>Faks:</b> 0 371 212-01-98<br><b>E-mail:</b>
                                    yunusobod_txtb@xtv.uz<br><b>Veb-sayt:</b> www.yummtb.uz</p>
                                <button ot="250" class="btn btn-primary">tarjimai xol</button>
                                <button to="250" class="btn btn-primary">Majburyatlari</button>
                                <div id="tarjima_250" style="display:none"></div>
                                <div id="info_250" style="display:none">
                                    <div style="text-align:justify;">Lavozim vazifalari:</div>
                                    <div style="text-align:justify;">a) mutasaddiligidagi tarkibiy bo‘linmalar
                                        faoliyatiga umumiy rahbarlik qilish va zimmasiga yuklangan barcha vazifalarni
                                        bajarish;</div>
                                    <div style="text-align:justify;">b) umumiy o‘rta ta’lim maktablari o‘quvchilarining
                                        davlat ta’lim standartlarini o‘zlashtirish monitoringi va fanlar bo‘yicha
                                        o‘quvchilar bilimlaridagi kamchiliklarni aniqlash va ularni bartaraf etish
                                        choralari ko‘rish; </div>
                                    <div style="text-align:justify;">v) iqtidorli o‘quvchilarni izlab topish, ularning
                                        qobiliyatlarini ro‘yobga chiqarish, maktablar, ularning rahbarlari,
                                        o‘qituvchilar faoliyatiga baho berish va ularning reytingini aniqlash; </div>
                                    <div style="text-align:justify;">g) idoraviy mansubligi, mulkchilik shaklidan qat’iy
                                        nazar ta’lim muassasalariga metodik rahbarlikni takomillashtirish va ularda
                                        o‘quvchilarni kasb-hunarga yo‘naltirish ishlarini tashkil etish; </div>
                                    <div style="text-align:justify;">d) o‘quv-tarbiya jarayoniga zamonaviy metodlar,
                                        ilg‘or pedagogik texnologiyalarni joriy etish chora-tadbirlarini amalga
                                        oshirish;</div>
                                    <div style="text-align:justify;">e) ta’lim jarayonida axborot-kommunikatsiya
                                        texnologiyalaridan samarali foydalanishni tashkil etish;</div>
                                    <div style="text-align:justify;">j) umumiy o‘rta va maktabdan tashqari ta’lim
                                        tizimini rivojlantirishga qaratilgan yagona davlat siyosatining amalga
                                        oshirilishini ta’minlash;</div>
                                    <div style="text-align:justify;">z) pedagog xodimlar, metodistlar va o‘quvchilar
                                        ishtirokida tanlov hamda ommaviy tadbirlar o‘tkazish ishlarini tashkil qilish;
                                    </div>
                                    <div style="text-align:justify;">i) umumiy o‘rta ta’lim maktablarini
                                        dasturiy-metodik materiallar bilan ta’minlash, ulardan foydalanish
                                        samaradorligini ekspertizadan o‘tkazish ishlarini amalga oshirish; </div>
                                    <div style="text-align:justify;">k) umumiy o‘rta va maktabdan tashqari ta’lim
                                        muassasalari rahbarlari hamda pedagog xodimlarini qayta tayyorlash va ularning
                                        malakasini oshirish ishlarini rejalashtirish, ular yuzasidan metodik va axborot
                                        materiallarini tayyorlash; </div>
                                    <div style="text-align:justify;">l) tajriba-sinov maydonlari ishiga rahbarlik
                                        qilish, metodik yordam ko‘rsatishni ta’minlash;</div>
                                    <div style="text-align:justify;">m) hafta, oy, yil mobaynida mutasaddiligidagi
                                        tarkibiy bo‘linmalar tomonidan amalga oshirilgan ishlar yakunini tahlil qilish,
                                        kamchiliklarni bartaraf etish chora-tadbirlarini belgilash va amalga oshirish;
                                    </div>
                                    <div style="text-align:justify;">n) pedagog xodimlarni attestatsiyadan o‘tkazish
                                        ishlarini tashkil qilish va ularning malakasini oshirishni rejali amalga
                                        oshirish; </div>
                                    <div style="text-align:justify;">o) jismoniy va yuridik shaxslarning murojaatlari
                                        bilan ishlash bo‘yicha hujjatlarni yuritilishiga umumiy boshqaruv;</div>
                                    <div style="text-align:justify;">p) kasbiy odob-axloq qoidalari, sanitariya-gigiyena
                                        talablari, mehnatni muhofaza qilish, texnika va yong‘in xavfsizligi qoidalariga
                                        rioya qilinishini ta’minlash.</div>
                                </div>

                            </div>
                        </div>




                        <div class="post-item d-flex jusify-content-between">
                            <div class="post-item__preview">
                                <div class="post-item__img">
                                    <img
                                        src="https://yunusobodxtb.uz/uploads/posts/2023-06/1686049946_2023-06-06_16-07-43.png">
                                </div>
                                <div class="post-item__stats d-flex justify-content-between">
                                    <div class="post-item__date">06.06.2023 / 03:44.</div>
                                    <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
                                </div>
                            </div>
                            <div><a class="post-item__title"
                                    href="https://yummtb.uz/xalq-talimi-bolimi/mtm/608-maktabgacha-talim-tashkiloti.html">Maktabgacha
                                    ta&#039;lim tashkiloti</a>
                                <p>...</p>
                            </div>
                        </div>

                        <div class="text-center">
                            <ul class="pagination">
                                <li><span>Oldingi</span></li>
                                <li><span>1</span> <a href="https://yummtb.uz/xalq-talimi-bolimi/page/2/">2</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/3/">3</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/4/">4</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/5/">5</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/6/">6</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/7/">7</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/8/">8</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/9/">9</a> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/10/">10</a> <span
                                        class="nav_ext">...</span> <a
                                        href="https://yummtb.uz/xalq-talimi-bolimi/page/18/">18</a></li>
                                <li><a href="https://yummtb.uz/xalq-talimi-bolimi/page/2/">Keyingi</a></li>
                            </ul>
                        </div>



                    </div>


{% endblock %}
