{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-12/1735493356_2024-12-29_21-37-46.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">29.12.2024 / 10:30.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/ota-onalarga/bolalarni-bogchaga-qabul-navbatini-tekshirish/1243-bolalarni-bogchaga-qabul-navbatini-tekshirish.html">Bolalarni bog‘chaga qabul navbatini tekshirish</a>
        <p> Bu qanday ishlaydi? Mazkur xizmat orqali Siz ariza raqmingizni kiritib, farzandingizni davlat maktabgacha ta’lim muassasasiga qabul qilish navbati holati haqida ma’lumot olasiz. Tashkilot O‘zbekiston Respublikasi Maktabgacha va maktab ta’limi...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-12/1735492757_2024-12-29_21-37-46.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">29.12.2024 / 10:15.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/ota-onalarga/bog039cha-tolovlari-togrisida-ma039lumot/1242-maktabgacha-talim-tashkiloti-uchun-amalga-oshirilgan-tolovlar-togrisida-malumot-olish.html">Maktabgacha ta’lim tashkiloti uchun amalga oshirilgan to‘lovlar to‘g‘risida ma&#039;lumot olish</a>
        <p>Bu qanday ishlaydi? Ariza beruvchi YIDXPda ro‘yxatdan va/yoki avtorizatsiyadan o‘tadi va so‘rov yuboradi Tashkilot O’zbekiston Respublikasi Maktabgacha ta'lim vazirligi Bog‘lanish +998(71)203-00-50 Xizmatdan foydalanuvchilar Jismoniy shaxslar...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-12/1735491989_2024-12-29_21-37-46.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">29.12.2024 / 10:02.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/ota-onalarga/bolani-bogchaga-joylashtirish-uchun-ariza-berish/1241-bolani-davlat-maktabgacha-talim-muassasasiga-joylashtirish-uchun-ariza-berish.html">Bolani davlat maktabgacha ta’lim muassasasiga joylashtirish uchun ariza berish</a>
        <p>Bu qanday ishlaydi? 1. Arizachi YIDXPda ro'yxatdan o'tadi, ariza shaklini to'ldiradi va vakolatli organga yuboradi 2. Vakolatli organ bolani bog'chaga navbatga joylashtirish haqida xabarnoma yuboradi 3. Bola 3 yoshga to‘lgach hamda tegishli navbat...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-12/1735490538_2024-12-29_21-37-46.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">29.12.2024 / 09:50.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/ota-onalarga/bolani-maktabning-birinchi-sinfiga-joylashtirishga-ariza-yuborish/1240-bolani-maktabning-birinchi-sinfiga-joylashtirishga-ariza-yuborish.html">Bolani maktabning birinchi sinfiga joylashtirishga ariza yuborish</a>
        <p>Bu qanday ishlaydi? 1. Ariza beruvchi YIDXPda ro‘yxatdan va/yoki avtorizatsiyadan o‘tadi va so‘rov yuboradi; 2. Masʼul davlat idorasi tomonidan ariza ko‘rib chiqiladi; 3. Ariza ko‘rib chiqilganidan so‘ng yo‘llanma taqdim etiladi. Tashkilot...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/ota-onalarga/page/2/">2</a> </li>
      <li><a href="https://yummtb.uz/ota-onalarga/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>
{% endblock %}