{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="for-acquaintance">
    <style>
        .default-content img {
            max-width: 100%;
        }
        iframe { 
            display: block !important;
            height: 500px !important;
        }
    </style>

    <h2 class="entry-title">
        <h3 rel="bookmark">Maktabgacha va maktab ta'lim vazirligi hay’at qarorlari</h3>
    </h2>

    <div class="entry-meta">
        <span class="meta-item blog-date"><i class="icon-time"></i> <span class="txt">{{ post.created_at|date:"j-m-Y, H:i" }}</span></span>
        <span class="meta-item blog-category"><i class="icon-folder-open"></i> 
            <a href="{% url 'home' %}">Bosh sahifa</a> / Maktabgacha va maktab ta'lim vazirligi hay’at qarorlari
        </span>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="default-content">
                <p>
                    {{ post.content|safe }}
                </p>
            </div>
        </div>
    </div>
</div>


   {% endblock %}
