


{% extends "base.html" %}
{% load static %}


{% block content %}


                    



                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/templates/new_maktab/dleimages/no_image.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">02.06.2023 / 03:06.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/normativ-hujjatlar/ozbekiston-respublikasi-maktabgacha-va-maktab-ta039lim-vazirligi-hayat-qarorlari/124-xalq-talimi-vazirligi-hayat-qarorlari.html">Maktabgacha va maktab ta&#039;lim vazirligi hay’at qarorlari</a>
        <p>Xalq ta’limi vazirligining 2021 yil birinchi yarim yilligiga mo‘ljallangan ish rejasi va 2020 yilda jismoniy va yuridik shaxslarning murojaatlari bilan ishlash samaradorligi to‘g‘risida.  Xalq ta’limi vazirligida Vazirlar Mahkamasining 2021 yil 27...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2023-06/1685697986_2023-06-02_14-23-28.png">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">01.06.2023 / 03:13.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/normativ-hujjatlar/maktabgacha-va-maktab-ta039lim-vazirligi-meyoriy-hujjatlari/125-halq-talimi-vazirligi-meyoriy-hujjatlari.html">Maktabgacha va maktab ta&#039;lim vazirligi me’yoriy hujjatlari</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2023-06/1685696678_logo_new.png">        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">21.02.2023 / 05:02.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/normativ-hujjatlar/yunusobod-tumani-maktabgacha-va-maktab-talimi-bolimining-meyoriy-hujjatlari/485-2023-yildagi-yunusobod-tumani-xalq-talimi-bolimining-meyoriy-hujjatlari.html">2023 yildagi Yunusobod tumani maktabgacha va maktab taʼlimi bo`limining me`yoriy hujjatlari</a>
        <p>...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="https://yunusobodxtb.uz/uploads/posts/2023-06/1685696902_logo_new.png">        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">25.08.2022 / 03:17.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/normativ-hujjatlar/yunusobod-tumani-maktabgacha-va-maktab-talimi-bolimining-meyoriy-hujjatlari/126-2022-yildagi-yunusobod-tumani-xalq-talimi-bolimining-meyoriy-hujjatlari.html">2022 yildagi Yunusobod tumani maktabgacha va maktab taʼlimi bo`limining me`yoriy hujjatlari</a>
        <p>Yunusobod tuman xalq ta’limi bo‘limi mudirining 2022-yil 1 iyuldagi 122-sonli “Toshkent shahar xalq ta’limi Bosh boshqarmasining 2022-yil 28-iyundagi 202-sonli buyrug‘i ijrosini ta’minlash to‘g‘risida”gi buyrug‘i  Yunusobod tuman xalq ta’limi...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/normativ-hujjatlar/page/2/">2</a> </li>
      <li><a href="https://yummtb.uz/normativ-hujjatlar/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>


                
                {% endblock %}