{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="for-acquaintance">
    {% for hujjat in tuman_hujjatlar %}
    <div class="post-item d-flex jusify-content-between">
        <div class="post-item__preview">
            <div class="post-item__stats d-flex justify-content-between">
                <div class="post-item__date">{{ hujjat.created_at }}</div>
            </div>
        </div>
        <div>
            <a class="post-item__title" href="https://74-maktab.uz/">{{ hujjat.title }}</a>
            <p>{{ hujjat.content|safe }}</p> <!-- RichText uchun |safe qo‘shildi -->
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}