{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="for-acquaintance">
                    
                    

<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-01/1737621948_photo_2025-01-23_13-44-34.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">23.01.2025 / 01:46.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/1259-ozbekistonlik-oquvchilar-xalqaro-olimpiada-muvaffaqiyat-qozonishdi.html">O‘zbekistonlik o‘quvchilar xalqaro olimpiada muvaffaqiyat qozonishdi!</a>
        <p>Joriy yilning 18-19-yanvar kunlari Malayziyaning Kuala-Lumpur shahrida bo‘lib o‘tgan SEAMO X 2025 xalqaro matematika olimpiadasida o‘zbekistonlik o‘quvchilar bir qator yutuqlarni qo‘lga kiritishdi. Mazkur nufuzli musobaqada 23 ta davlatdan 1800 dan...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2025-01/1737622296_photo_2025-01-23_13-50-02.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">03.01.2025 / 01:51.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/1260-medallar-soni-boyicha-qaysi-hudud-yetakchi.html">Medallar soni boʻyicha qaysi hudud yetakchi?</a>
        <p>Millionlab yoshlarning orzu-istaklarini ro‘yobga chiqargan “Besh tashabbus olimpiadasi” tanlovining Respublika bosqichlari o‘z yakuniga yetdi. Yil davomida 27 ta yo‘nalish bo‘yicha musobaqalar tashkil etilib, 14 yoshdan 30 yoshgacha bo‘lgan yoshlar...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-11/1731601093_photo_2024-11-14_21-15-52.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">14.11.2024 / 09:17.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/1188-kurash-galabaga-halol-yol.html">Kurash – g‘alabaga halol yo‘l!</a>
        <p>Har bitta mahalladan saralangan kuchli kurashchilar bugun Toshkent shahardagi Universal sport saroyida “Besh tashabbus olimpiadasi” doirasidagi kurash bo‘yicha “Bosh prokuror kubogi” musobaqasining hal qiluvchi final bahslari kuch sinashdi. Ayniqsa,...</p>
    </div>
</div>



<div class="post-item d-flex jusify-content-between">
    <div class="post-item__preview">
        <div class="post-item__img">
            <img src="/uploads/posts/2024-11/1730911564_photo_2024-11-06_21-45-32.jpg">
        </div>
        <div class="post-item__stats d-flex justify-content-between">
            <div class="post-item__date">06.11.2024 / 09:46.</div>
            <!-- <div class="post-item__views"><i class="png-icon png-icon-eye"></i>148</div> -->
        </div>
    </div>
    <div><a class="post-item__title" href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/1180-dilbuloq-mahallasi-yoshlari-bronza-medallari-sohibi.html">&quot;Dilbuloq&quot; mahallasi yoshlari BRONZA medallari sohibi</a>
        <p>Gandbol bo'yicha Andijon shahrida bo'lib o'tayotgan "O'zbekiston mahallalari uyushmasi kubogi" musobaqasida Toshkent shahrining "Dilbuloq" jamoasi Surxondaryo viloyatining "Jayxun" jamoasi bilan 3-o'rin uchun kurash olib bordi. Keskin kurashlar...</p>
    </div>
</div>

<div class="text-center">
   <ul class="pagination">
      <li><span>Oldingi</span></li>
      <li><span>1</span> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/2/">2</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/3/">3</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/4/">4</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/5/">5</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/6/">6</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/7/">7</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/8/">8</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/9/">9</a> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/10/">10</a> <span class="nav_ext">...</span> <a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/27/">27</a></li>
      <li><a href="https://yummtb.uz/faoliyat/besh-muhim-tashabbus/page/2/">Keyingi</a></li>
  </ul>
</div>


                    
                </div>
{% endblock %}